# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Changes to any file require approval from @nl-design-system/kernteam-maintainer
* @nl-design-system/kernteam-maintainer
/.changeset/ @nl-design-system/kernteam-maintainer @nl-design-system/kernteam-design

/proprietary/amsterdam-design-tokens/src/ @nl-design-system/gemeente-amsterdam
/proprietary/amsterdam-design-tokens/documentation/ @nl-design-system/gemeente-amsterdam
/proprietary/amsterdam-design-tokens/figma/ @nl-design-system/gemeente-amsterdam
/proprietary/bodegraven-reeuwijk-design-tokens/src/ @nl-design-system/gemeente-bodegraven-reeuwijk
/proprietary/bodegraven-reeuwijk-design-tokens/documentation/ @nl-design-system/gemeente-bodegraven-reeuwijk
/proprietary/borne-design-tokens/src/ @nl-design-system/gemeente-borne
/proprietary/borne-design-tokens/documentation/ @nl-design-system/gemeente-borne
/proprietary/buren-design-tokens/src/ @nl-design-system/gemeente-buren
/proprietary/buren-design-tokens/documentation/ @nl-design-system/gemeente-buren
/proprietary/drechterland-design-tokens/src/ @nl-design-system/gemeente-drechterland
/proprietary/drechterland-design-tokens/documentation/ @nl-design-system/gemeente-drechterland
/proprietary/duiven-design-tokens/src/ @nl-design-system/gemeente-duiven
/proprietary/duiven-design-tokens/documentation/ @nl-design-system/gemeente-duiven
/proprietary/enkhuizen-design-tokens/src/ @nl-design-system/gemeente-enkhuizen
/proprietary/enkhuizen-design-tokens/documentation/ @nl-design-system/gemeente-enkhuizen
/proprietary/groningen-design-tokens/src/ @nl-design-system/gemeente-groningen
/proprietary/groningen-design-tokens/documentation/ @nl-design-system/gemeente-groningen
/proprietary/groningen-design-tokens/figma/ @nl-design-system/gemeente-groningen
/proprietary/haarlem-design-tokens/src/ @nl-design-system/gemeente-haarlem
/proprietary/haarlem-design-tokens/documentation/ @nl-design-system/gemeente-haarlem
/proprietary/hoorn-design-tokens/src/ @nl-design-system/gemeente-hoorn
/proprietary/hoorn-design-tokens/documentation/ @nl-design-system/gemeente-hoorn
/proprietary/horstaandemaas-design-tokens/src/ @nl-design-system/gemeente-horst-aan-de-maas
/proprietary/horstaandemaas-design-tokens/documentation/ @nl-design-system/gemeente-horst-aan-de-maas
/proprietary/leidschendam-voorburg-design-tokens/src/ @nl-design-system/gemeente-leidschendam-voorburg
/proprietary/leidschendam-voorburg-design-tokens/documentation/ @nl-design-system/gemeente-leidschendam-voorburg
/proprietary/nijmegen-design-tokens/src/ @nl-design-system/gemeente-nijmegen
/proprietary/nijmegen-design-tokens/documentation/ @nl-design-system/gemeente-nijmegen
/proprietary/noordoostpolder-design-tokens/src/ @nl-design-system/gemeente-noordoostpolder
/proprietary/noordoostpolder-design-tokens/documentation/ @nl-design-system/gemeente-noordoostpolder
/proprietary/provincie-zuid-holland-design-tokens/src/ @nl-design-system/provincie-zuid-holland
/proprietary/provincie-zuid-holland-design-tokens/documentation/ @nl-design-system/provincie-zuid-holland
/proprietary/riddeliemers-design-tokens/src/ @nl-design-system/rid-de-liemers
/proprietary/stedebroec-design-tokens/src/ @nl-design-system/gemeente-stedebroec
/proprietary/stedebroec-design-tokens/documentation/ @nl-design-system/gemeente-stedebroec
/proprietary/tilburg-design-tokens/src/ @nl-design-system/gemeente-tilburg
/proprietary/tilburg-design-tokens/documentation/ @nl-design-system/gemeente-tilburg
/proprietary/venray-design-tokens/src/ @nl-design-system/gemeente-venray
/proprietary/venray-design-tokens/documentation/ @nl-design-system/gemeente-venray
/proprietary/vught-design-tokens/src/ @nl-design-system/gemeente-vught
/proprietary/vught-design-tokens/documentation/ @nl-design-system/gemeente-vught
/proprietary/westervoort-design-tokens/src/ @nl-design-system/gemeente-westervoort
/proprietary/westervoort-design-tokens/documentation/ @nl-design-system/gemeente-westervoort
/proprietary/zevenaar-design-tokens/src/ @nl-design-system/gemeente-zevenaar
/proprietary/zevenaar-design-tokens/documentation/ @nl-design-system/gemeente-zevenaar
/proprietary/zwolle-design-tokens/src/ @nl-design-system/gemeente-zwolle
/proprietary/zwolle-design-tokens/documentation/ @nl-design-system/gemeente-zwolle

# Changes to tokens managed by Tokens Studio in Figma can be approved by @nl-design-system/kernteam-design
/packages/**/figma/*.tokens.json @nl-design-system/kernteam-design

# Changes to this file (.github/CODEOWNERS) require approval from @nl-design-system/kernteam-admin
.github/CODEOWNERS @nl-design-system/kernteam-admin
