@font-face {
  font-family: "Sofia Pro";
  font-weight: 100 900;
  font-style: normal;
  font-stretch: normal;
  font-variant: normal;
  font-display: swap;
  src: url("https://haarlem.nl/themes/custom/toptasks_sub_base_theme/fonts/sofiaprogx/variable/sofia-pro-variable.woff2")
    format("woff2-variations");
}

.haarlem-theme {
  font-variation-settings: "slnt" 0;
}
