/* DEMO ONLY — downloaded from sittard-geleen.nl, not for commit/push */

@font-face {
  font-family: "Roobert";
  font-style: normal;
  font-weight: 300;
  src: url("./fonts/Roobert-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Roobert";
  font-style: italic;
  font-weight: 300;
  src: url("./fonts/Roobert-LightItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Roobert";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/Roobert-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Roobert";
  font-style: italic;
  font-weight: 400;
  src: url("./fonts/Roobert-RegularItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Roobert";
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/Roobert-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Roobert";
  font-style: italic;
  font-weight: 500;
  src: url("./fonts/Roobert-MediumItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Roobert";
  font-style: normal;
  font-weight: 600;
  src: url("./fonts/Roobert-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "Roobert";
  font-style: italic;
  font-weight: 600;
  src: url("./fonts/Roobert-SemiBoldItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Roobert";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/Roobert-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Roobert";
  font-style: italic;
  font-weight: 700;
  src: url("./fonts/Roobert-BoldItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Roobert";
  font-style: normal;
  font-weight: 800;
  src: url("./fonts/Roobert-Heavy.woff2") format("woff2");
}

@font-face {
  font-family: "Roobert";
  font-style: italic;
  font-weight: 800;
  src: url("./fonts/Roobert-HeavyItalic.woff2") format("woff2");
}
