.font-family-sample {
  block-size: 2em;
  border-color: silver;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  cursor: default;
  user-select: none;
  display: inline-block;
  font-size: 1em;
  inline-size: 2em;
  line-height: 2em;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
}
