@font-face {
  font-family: "TradeGothicW01-BoldCn20 675334";
  src: url("fonts/5fdc935e-9e30-442a-bbe9-8d887b858471.woff") format("woff");
}

@font-face {
  font-family: "Trade Gothic W01 Cn 18";
  src: url("fonts/fb754dec-aa8f-444c-be48-868464c47ab0.woff") format("woff");
}
