@font-face {
  font-family: "Droid Sans W01_n4";
  src: url("font/droid-sans/c80948dc-8034-4871-92e4-09e62a065734.eot?#iefix") format("eot");
}

@font-face {
  font-family: "Droid Sans W01";
  src: url("font/droid-sans/c80948dc-8034-4871-92e4-09e62a065734.eot?#iefix");
  src: url("font/droid-sans/c80948dc-8034-4871-92e4-09e62a065734.eot?#iefix") format("eot"),
    url("font/droid-sans/8618e3ee-2a2d-404e-8da4-c5fa9b2126ed.woff2") format("woff2"),
    url("font/droid-sans/b224fac8-6105-4d9b-88aa-3cf88d79c091.woff") format("woff"),
    url("font/droid-sans/5259f2df-627b-4f22-9887-01600b197b5d.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Droid Sans W01_n7";
  src: url("font/droid-sans/af7ca8f9-0e64-40b9-990b-c0a1c58462ad.eot?#iefix") format("eot");
}

@font-face {
  font-family: "Droid Sans W01";
  src: url("font/droid-sans/af7ca8f9-0e64-40b9-990b-c0a1c58462ad.eot?#iefix");
  src: url("font/droid-sans/af7ca8f9-0e64-40b9-990b-c0a1c58462ad.eot?#iefix") format("eot"),
    url("font/droid-sans/0b9078f5-ac64-4117-aa25-f1f9ee6944d1.woff2") format("woff2"),
    url("font/droid-sans/b655d4d7-3fa3-4307-8a87-036fe1918191.woff") format("woff"),
    url("font/droid-sans/255de0f2-9684-4e87-aeb2-de450f1a3a54.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
