:root {
  --_1jo2ou90: Helvetica, arial, sans-serif;
  --_1jo2ou91: Source Code Pro, Firacode, Hasklig, Menlo, monospace;
  --_1jo2ou92: normal 10px Helvetica, arial, sans-serif;
  --_1jo2ou93: normal 12px Helvetica, arial, sans-serif;
  --_1jo2ou94: normal 14px Helvetica, arial, sans-serif;
  --_1jo2ou95: normal 16px/1.3em Helvetica, arial, sans-serif;
  --_1jo2ou96: 100;
  --_1jo2ou97: 700;
  --_1jo2ou98: 4px;
  --_1jo2ou99: 2px;
  --_1jo2ou9a: 4px;
  --_1jo2ou9b: 6px;
  --_1jo2ou9c: 100%;
  --_1jo2ou9d: 70px;
  --_1jo2ou9e: 44px;
  --_1jo2ou9f: opacity 300ms ease, transform 300ms ease;
  --_1jo2ou9g: opacity 200ms ease, transform 200ms ease;
  --_1jo2ou9h: opacity 100ms ease, transform 100ms ease;
  --_1jo2ou9i: 0;
  --_1jo2ou9j: 2px;
  --_1jo2ou9k: 4px;
  --_1jo2ou9l: 6px;
  --_1jo2ou9m: 12px;
  --_1jo2ou9n: 16px;
  --_1jo2ou9o: 20px;
  --_1jo2ou9p: 40px;
}
:root {
  --_1jo2ou9q: #000;
  --_1jo2ou9r: #040080;
  --_1jo2ou9s: #005ad2;
  --_1jo2ou9t: #00439c;
  --_1jo2ou9u: #00439c;
  --_1jo2ou9v: #0088ff;
  --_1jo2ou9w: #75438a;
  --_1jo2ou9x: #a7a7a7;
  --_1jo2ou9y: #515151;
  --_1jo2ou9z: #fff;
  --_1jo2ou910: #a7a7a7;
  --_1jo2ou911: #cd193d;
  --_1jo2ou912: #005ad2;
  --_1jo2ou913: #1da584;
  --_1jo2ou914: rgba(0, 0, 0, .05);
  --_1jo2ou915: #005ad2;
  --_1jo2ou916: #c5f5e9;
  --_1jo2ou917: #fee1e9;
  --_1jo2ou918: #1e1e1e;
  --_1jo2ou919: #fff;
  --_1jo2ou91a: #f4f4f4;
  --_1jo2ou91b: #e5f3ff;
  --_1jo2ou91c: #e8e8e8;
  --_1jo2ou91d: 0 2px 8px rgba(18, 21, 26, 0.3);
  --_1jo2ou91e: 0 0 0 5px #e5f3ff;
}
:root[data-playroom-dark] {
  --_1jo2ou9q: #f6f8fa;
  --_1jo2ou9r: #c8e1f7;
  --_1jo2ou9s: #68aeea;
  --_1jo2ou9t: #97c8f1;
  --_1jo2ou9u: #97c8f1;
  --_1jo2ou9v: #3e8fe0;
  --_1jo2ou9w: #aa83f2;
  --_1jo2ou9x: #3d4b63;
  --_1jo2ou9y: #f6f8fa;
  --_1jo2ou9z: #000;
  --_1jo2ou910: #828ea4;
  --_1jo2ou911: #fa6b6c;
  --_1jo2ou912: #3e8fe0;
  --_1jo2ou913: #28b888;
  --_1jo2ou914: rgba(0, 0, 0, .15);
  --_1jo2ou915: #3e8fe0;
  --_1jo2ou916: #195546;
  --_1jo2ou917: #4c1a20;
  --_1jo2ou918: #1c2230;
  --_1jo2ou919: #0f131b;
  --_1jo2ou91a: #0a0c11;
  --_1jo2ou91b: rgba(41,111,192,0.15);
  --_1jo2ou91c: #1c2230;
  --_1jo2ou91d: 0 0 10px -2px #2d3648;
  --_1jo2ou91e: 0 0 0 5px rgba(104,174,234,0.4);
}
._1jo2ou91f {
  position: absolute;
}
._1jo2ou91g {
  position: relative;
}
._1jo2ou91h {
  position: fixed;
}
._1jo2ou91i {
  top: 0;
}
._1jo2ou91j {
  bottom: 0;
}
._1jo2ou91k {
  left: 0;
}
._1jo2ou91l {
  right: 0;
}
._1jo2ou91m {
  display: none;
}
._1jo2ou91n {
  display: flex;
}
._1jo2ou91o {
  display: block;
}
._1jo2ou91p {
  display: inline;
}
._1jo2ou91q {
  flex-direction: row;
}
._1jo2ou91r {
  flex-direction: column;
}
._1jo2ou91s {
  flex-direction: row-reverse;
}
._1jo2ou91t {
  flex-wrap: wrap;
}
._1jo2ou91u {
  justify-content: stretch;
}
._1jo2ou91v {
  justify-content: flex-start;
}
._1jo2ou91w {
  justify-content: center;
}
._1jo2ou91x {
  justify-content: flex-end;
}
._1jo2ou91y {
  justify-content: space-around;
}
._1jo2ou91z {
  justify-content: space-between;
}
._1jo2ou920 {
  align-items: stretch;
}
._1jo2ou921 {
  align-items: flex-start;
}
._1jo2ou922 {
  align-items: center;
}
._1jo2ou923 {
  align-items: flex-end;
}
._1jo2ou924 {
  padding-top: var(--_1jo2ou9i);
}
._1jo2ou925 {
  padding-top: var(--_1jo2ou9j);
}
._1jo2ou926 {
  padding-top: var(--_1jo2ou9k);
}
._1jo2ou927 {
  padding-top: var(--_1jo2ou9l);
}
._1jo2ou928 {
  padding-top: var(--_1jo2ou9m);
}
._1jo2ou929 {
  padding-top: var(--_1jo2ou9n);
}
._1jo2ou92a {
  padding-top: var(--_1jo2ou9o);
}
._1jo2ou92b {
  padding-top: var(--_1jo2ou9p);
}
._1jo2ou92c {
  padding-bottom: var(--_1jo2ou9i);
}
._1jo2ou92d {
  padding-bottom: var(--_1jo2ou9j);
}
._1jo2ou92e {
  padding-bottom: var(--_1jo2ou9k);
}
._1jo2ou92f {
  padding-bottom: var(--_1jo2ou9l);
}
._1jo2ou92g {
  padding-bottom: var(--_1jo2ou9m);
}
._1jo2ou92h {
  padding-bottom: var(--_1jo2ou9n);
}
._1jo2ou92i {
  padding-bottom: var(--_1jo2ou9o);
}
._1jo2ou92j {
  padding-bottom: var(--_1jo2ou9p);
}
._1jo2ou92k {
  padding-left: var(--_1jo2ou9i);
}
._1jo2ou92l {
  padding-left: var(--_1jo2ou9j);
}
._1jo2ou92m {
  padding-left: var(--_1jo2ou9k);
}
._1jo2ou92n {
  padding-left: var(--_1jo2ou9l);
}
._1jo2ou92o {
  padding-left: var(--_1jo2ou9m);
}
._1jo2ou92p {
  padding-left: var(--_1jo2ou9n);
}
._1jo2ou92q {
  padding-left: var(--_1jo2ou9o);
}
._1jo2ou92r {
  padding-left: var(--_1jo2ou9p);
}
._1jo2ou92s {
  padding-right: var(--_1jo2ou9i);
}
._1jo2ou92t {
  padding-right: var(--_1jo2ou9j);
}
._1jo2ou92u {
  padding-right: var(--_1jo2ou9k);
}
._1jo2ou92v {
  padding-right: var(--_1jo2ou9l);
}
._1jo2ou92w {
  padding-right: var(--_1jo2ou9m);
}
._1jo2ou92x {
  padding-right: var(--_1jo2ou9n);
}
._1jo2ou92y {
  padding-right: var(--_1jo2ou9o);
}
._1jo2ou92z {
  padding-right: var(--_1jo2ou9p);
}
._1jo2ou930 {
  margin-top: var(--_1jo2ou9i);
}
._1jo2ou931 {
  margin-top: var(--_1jo2ou9j);
}
._1jo2ou932 {
  margin-top: var(--_1jo2ou9k);
}
._1jo2ou933 {
  margin-top: var(--_1jo2ou9l);
}
._1jo2ou934 {
  margin-top: var(--_1jo2ou9m);
}
._1jo2ou935 {
  margin-top: var(--_1jo2ou9n);
}
._1jo2ou936 {
  margin-top: var(--_1jo2ou9o);
}
._1jo2ou937 {
  margin-top: var(--_1jo2ou9p);
}
._1jo2ou938 {
  margin-bottom: var(--_1jo2ou9i);
}
._1jo2ou939 {
  margin-bottom: var(--_1jo2ou9j);
}
._1jo2ou93a {
  margin-bottom: var(--_1jo2ou9k);
}
._1jo2ou93b {
  margin-bottom: var(--_1jo2ou9l);
}
._1jo2ou93c {
  margin-bottom: var(--_1jo2ou9m);
}
._1jo2ou93d {
  margin-bottom: var(--_1jo2ou9n);
}
._1jo2ou93e {
  margin-bottom: var(--_1jo2ou9o);
}
._1jo2ou93f {
  margin-bottom: var(--_1jo2ou9p);
}
._1jo2ou93g {
  margin-left: var(--_1jo2ou9i);
}
._1jo2ou93h {
  margin-left: var(--_1jo2ou9j);
}
._1jo2ou93i {
  margin-left: var(--_1jo2ou9k);
}
._1jo2ou93j {
  margin-left: var(--_1jo2ou9l);
}
._1jo2ou93k {
  margin-left: var(--_1jo2ou9m);
}
._1jo2ou93l {
  margin-left: var(--_1jo2ou9n);
}
._1jo2ou93m {
  margin-left: var(--_1jo2ou9o);
}
._1jo2ou93n {
  margin-left: var(--_1jo2ou9p);
}
._1jo2ou93o {
  margin-right: var(--_1jo2ou9i);
}
._1jo2ou93p {
  margin-right: var(--_1jo2ou9j);
}
._1jo2ou93q {
  margin-right: var(--_1jo2ou9k);
}
._1jo2ou93r {
  margin-right: var(--_1jo2ou9l);
}
._1jo2ou93s {
  margin-right: var(--_1jo2ou9m);
}
._1jo2ou93t {
  margin-right: var(--_1jo2ou9n);
}
._1jo2ou93u {
  margin-right: var(--_1jo2ou9o);
}
._1jo2ou93v {
  margin-right: var(--_1jo2ou9p);
}
._1jo2ou93w {
  overflow: hidden;
}
._1jo2ou93x {
  overflow: auto;
}
._1jo2ou93y {
  box-shadow: var(--_1jo2ou91d);
}
._1jo2ou93z {
  box-shadow: var(--_1jo2ou91e);
}
._1jo2ou940 {
  border-radius: var(--_1jo2ou99);
}
._1jo2ou941 {
  border-radius: var(--_1jo2ou9a);
}
._1jo2ou942 {
  border-radius: var(--_1jo2ou9b);
}
._1jo2ou943 {
  border-radius: var(--_1jo2ou9c);
}
._1jo2ou944 {
  transition: var(--_1jo2ou9f);
}
._1jo2ou945 {
  transition: var(--_1jo2ou9g);
}
._1jo2ou946 {
  transition: var(--_1jo2ou9h);
}
._1jo2ou947 {
  cursor: pointer;
}
._1jo2ou948 {
  pointer-events: none;
}
._1jo2ou949 {
  pointer-events: auto;
}
._1jo2ou94a {
  user-select: none;
}
._1jo2ou94b {
  appearance: none;
}
._1jo2ou94c {
  opacity: 0;
}
._1jo2ou94d {
  z-index: 0;
}
._1jo2ou94e {
  z-index: 1;
}
._1jo2ou94f {
  font: var(--_1jo2ou92);
}
._1jo2ou94g {
  font: var(--_1jo2ou93);
}
._1jo2ou94h {
  font: var(--_1jo2ou94);
}
._1jo2ou94i {
  font: var(--_1jo2ou95);
}
._1jo2ou94j {
  font-weight: var(--_1jo2ou96);
}
._1jo2ou94k {
  font-weight: var(--_1jo2ou97);
}
._1jo2ou94l {
  width: 100%;
}
._1jo2ou94m {
  width: 100vw;
}
._1jo2ou94n {
  height: 100%;
}
._1jo2ou94o {
  height: 100vh;
}
._1jo2ou94p {
  white-space: nowrap;
}
._1jo2ou94q {
  box-sizing: border-box;
}
._1jo2ou94r {
  text-align: center;
}
._1jo2ou94s {
  text-align: left;
}
._1jo2ou94t {
  text-align: right;
}
._1jo2ou94u {
  border: 0;
}
._1tmfvna1 {
  color: var(--_1jo2ou9y);
}
._1tmfvna2 {
  color: var(--_1jo2ou911);
}
._1tmfvna9 {
  text-overflow: ellipsis;
}
._1jxqg8l1 {
  overflow-x: auto;
  overflow-y: hidden;
}
._1jxqg8l1::before {
  content: "";
  flex: 1;
}
._1jxqg8l1::after {
  content: "";
  flex: 1;
}
._1jxqg8l5 {
  flex-grow: 1;
}
._1jxqg8l7:not(:hover) {
  opacity: 0.8;
}
._1jxqg8l9 {
  flex: 0 0 30px;
  height: 30px;
  margin-bottom: -10px;
}
._1jxqg8l3:not(:hover) ._1jxqg8l9 {
  opacity: 0.3;
}
._17yct51 {
  color: var(--_1jo2ou9y);
  font-family: var(--_1jo2ou90);
}
._17yct52 {
  font-size: 36px;
}
._17yct53 {
  font-size: 24px;
}
._17yct54 {
  font-size: 16px;
}
._1iosmka2 {
  border-top: 1px solid var(--_1jo2ou91c);
}
.ta6g7n1:not(:last-child) {
  padding-bottom: var(--ta6g7n0);
}
.ta6g7n2 {
  --ta6g7n0: var(--_1jo2ou98);
}
.ta6g7n3 {
  --ta6g7n0: calc(var(--_1jo2ou98) * 2);
}
.ta6g7n4 {
  --ta6g7n0: calc(var(--_1jo2ou98) * 3);
}
.ta6g7n5 {
  --ta6g7n0: calc(var(--_1jo2ou98) * 4);
}
.ta6g7n6 {
  --ta6g7n0: calc(var(--_1jo2ou98) * 6);
}
.ta6g7n7 {
  --ta6g7n0: calc(var(--_1jo2ou98) * 12);
}
._1jx9adf2 {
  color: currentColor;
  background-color: transparent;
  outline: none;
  text-decoration: underline;
  margin: calc(var(--_1jo2ou9l) * -1);
}
._1jx9adf2::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: var(--_1jo2ou9b);
  box-shadow: var(--_1jo2ou91e);
  cursor: pointer;
  opacity: 0;
  transform: scale(0.8);
  transition: var(--_1jo2ou9g);
}
._1jx9adf2:focus::before, ._1jx9adf2:hover::before {
  opacity: 1;
  transform: scale(1);
}
._1jx9adf4 {
  height: calc(var(--_1jo2ou98) * 9);
}
._1jx9adf6 {
  height: 20px;
  width: 20px;
}
._1jx9adf8 {
  flex-grow: 0;
  flex-shrink: 0;
  height: calc(20px - (var(--_1jo2ou9j) * 2));
  width: calc(20px - (var(--_1jo2ou9j) * 2));
}
._1jx9adf8::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: var(--_1jo2ou9a);
  box-shadow: var(--_1jo2ou91e);
  transition: var(--_1jo2ou9g);
  opacity: 0;
  transform: scale(0.5);
}
._1jx9adf8::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: var(--_1jo2ou9a);
  box-shadow: inset 0 0 0px 1px currentColor;
  background: var(--_1jo2ou919);
}
._1jx9adf6:hover:not(:focus) ~ ._1jx9adf8::before, ._1jx9adf6:focus ~ ._1jx9adf8::before {
  opacity: 1;
  transform: scale(1);
}
._1jx9adf8 > svg {
  height: 100%;
  width: 100%;
  opacity: 0;
  transform: scale(0.6);
  transition: var(--_1jo2ou9h);
  transition-delay: 0.1s, 0.3s;
  z-index: 1;
}
._1jx9adf6:checked ~ ._1jx9adf8 > svg  {
  opacity: 1;
  transform: none;
  transition: var(--_1jo2ou9h);
}
.ow3um50 {
  transition: var(--_1jo2ou9g);
  transform-origin: 50% 50%;
}
.ow3um51 {
  transform: rotate(90deg);
}
.ow3um52 {
  transform: rotate(180deg);
}
.ow3um53 {
  transform: rotate(270deg);
}
._100o6zq4 {
  min-width: 0;
}
._100o6zq5 {
  flex-shrink: 0;
}
._100o6zq9 {
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
}
._100o6zq7:focus:not(:hover) ~ ._100o6zq9 {
  opacity: 1;
}
.o4xov51 {
  background: transparent;
  outline: none;
  text-decoration: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: var(--_1jo2ou9e);
  -webkit-tap-highlight-color: transparent;
}
.o4xov54 {
  --o4xov52: currentColor;
  color: var(--o4xov52);
  border: 1px solid var(--_1jo2ou9x);
  height: calc(var(--_1jo2ou98) * 9);
}
.o4xov54:hover {
  --o4xov52: var(--_1jo2ou912);
  border-color: var(--o4xov52);
}
.o4xov54:active {
  transform: scale(0.98);
}
.o4xov54::after {
  content: "";
  position: absolute;
  transform: translateY(-50%);
  min-height: var(--_1jo2ou9e);
  min-width: var(--_1jo2ou9e);
  left: calc((var(--_1jo2ou98) * 2) * -1);
  right: calc((var(--_1jo2ou98) * 2) * -1);
  height: 100%;
  top: 50%;
}
.o4xov54:focus:not(:active):not(:hover):not([disabled]) {
  box-shadow: var(--_1jo2ou91e);
}
.o4xov55 {
  --o4xov52: var(--_1jo2ou913) !important;
  border-color: var(--o4xov52);
}
.o4xov57 {
  top: 1px;
}
._1kb0vjd2 {
  margin-top: calc(var(--_1kb0vjd0) * -1);
  margin-left: calc(var(--_1kb0vjd0) * -1);
}
._1kb0vjd3 {
  padding-top: var(--_1kb0vjd0);
  padding-left: var(--_1kb0vjd0);
}
._1kb0vjd4 {
  --_1kb0vjd0: var(--_1jo2ou98);
}
._1kb0vjd5 {
  --_1kb0vjd0: calc(var(--_1jo2ou98) * 2);
}
._1kb0vjd6 {
  --_1kb0vjd0: calc(var(--_1jo2ou98) * 3);
}
._1kb0vjd7 {
  --_1kb0vjd0: calc(var(--_1jo2ou98) * 4);
}
._1kb0vjd8 {
  --_1kb0vjd0: calc(var(--_1jo2ou98) * 5);
}
._1kb0vjd9 {
  --_1kb0vjd0: calc(var(--_1jo2ou98) * 6);
}
.odjf4x1 {
  color: var(--_1jo2ou9y);
  height: var(--_1jo2ou9e);
  background: var(--_1jo2ou919);
}
.odjf4x1:focus {
  outline: none;
}
.odjf4x1::placeholder {
  color: var(--_1jo2ou9x);
}
._147lows5 {
  outline: none;
  height: 60px;
  width: 60px;
  color: currentColor;
  background-color: var(--_1jo2ou919);
  -webkit-tap-highlight-color: transparent;
}
._147lows5::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--_1jo2ou91b);
  opacity: 0;
  transition: var(--_1jo2ou9f);
  pointer-events: none;
}
._147lows5::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 5px;
  background-color: currentColor;
  transition: var(--_1jo2ou9f);
}
._147lows5._147lows0 {
  color: var(--_1jo2ou913);
}
._147lows5:not(._147lows1) {
  cursor: pointer;
}
._147lows5._147lows1 {
  color: var(--_1jo2ou9x);
}
._147lows5._147lows2,._147lows5._147lows3:not(._147lows0):not(._147lows1),html:not([data-playroom-dark]) ._147lows5:hover:not(._147lows0):not(._147lows1) {
  color: var(--_1jo2ou912);
}
._147lows5:not(._147lows0):not(:hover):focus::before {
  color: var(--_1jo2ou9y);
}
._147lows5:not(._147lows0):not(._147lows1):focus::before,._147lows5:not(._147lows0):not(._147lows1):hover::before {
  opacity: 1;
}
._147lows5:not(._147lows3)::after {
  transform: translateX(100%);
  opacity: 0;
}
._147lows8 {
  top: 12px;
  right: 12px;
  height: 10px;
  width: 10px;
  background-color: var(--_1jo2ou915);
  border: 2px solid var(--_1jo2ou919);
}
._147lows8:not(._147lows6) {
  transform: scale(0);
  opacity: 0;
}
._147lowsa {
  top: 12px;
  right: 12px;
  height: 14px;
  width: 14px;
  background-color: var(--_1jo2ou913);
  border: 2px solid var(--_1jo2ou919);
}
._147lowsa:not(._147lows6) {
  transform: translate3d(-15px, 9px, 0) scale(0);
  opacity: 0;
}
._147lowsa svg {
  color: var(--_1jo2ou9z);
}
._1bxikqd2 {
  height: 60px;
  box-shadow: inset 0 -1px 0 0 var(--_1jo2ou91c);
}
._1bxikqd4 {
  top: 60px;
}
._1bxikqd6 {
  color: var(--_1jo2ou9y);
  background-color: var(--_1jo2ou919);
}
._1bxikqd6::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--_1jo2ou91b);
  border-radius: var(--_1jo2ou9a);
  opacity: 0;
  transition: var(--_1jo2ou9f);
  pointer-events: none;
}
._1bxikqd8 {
  color: var(--_1jo2ou910);
}
._1bxikqd9 {
  color: var(--_1jo2ou912);
}
._1bxikqd9::before {
  opacity: 1;
}
.jnwwly2 {
  color: var(--_1jo2ou9y);
  min-width: calc(60px + 1px);
}
.jnwwly2.jnwwly0 {
  width: 100vw;
}
.jnwwly8 {
  bottom: 60px;
}
.jnwwly8:not(.jnwwly6) {
  opacity: 0;
  pointer-events: none;
  transform: translateY(20px);
}
.jnwwlya {
  width: 60px;
  background-color: var(--_1jo2ou919);
  border-left: 1px solid var(--_1jo2ou91c);
}
.jnwwlyc {
  width: 300px;
  background-color: var(--_1jo2ou919);
  border-left: 1px solid var(--_1jo2ou91c);
}
.jnwwly2:not(.jnwwly0) .jnwwlyc {
  transform: translateX(calc(300px * 0.3));
  opacity: 0;
  pointer-events: none;
}
.wz73wi3 {
  height: var(--_1jo2ou9e);
  width: var(--_1jo2ou9e);
}
.wz73wi6 {
  height: var(--_1jo2ou9e);
  width: var(--_1jo2ou9e);
}
.wz73wi6::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--_1jo2ou91b);
  border-radius: var(--_1jo2ou9b);
  transition: var(--_1jo2ou9g);
  opacity: 0;
  transform: scale(0.8);
}
.wz73wi3:checked ~ .wz73wi6,html:not([data-playroom-dark]) .wz73wi3:hover ~ .wz73wi6 {
  color: var(--_1jo2ou912);
}
.wz73wi3:focus ~ .wz73wi6::before, .wz73wi3:hover ~ .wz73wi6::before {
  opacity: 1;
  transform: scale(1);
}
.b90myh5 {
  padding: 0 15px;
  left: 50%;
  transform: translateX(-50%);
  top: calc(var(--_1jo2ou98) * 5);
  height: calc(var(--_1jo2ou98) * 8);
  max-width: calc((100vw - 60px) - (var(--_1jo2ou9d) * 2));
}
.b90myh5.b90myh0 {
  padding-right: calc((15px * 2) + 16px);
}
.b90myh5:not(.b90myh1) {
  opacity: 0;
  pointer-events: none;
  transform: translate3d(-50%, -10px, 0);
}
.b90myh5.b90myh2 {
  background-color: var(--_1jo2ou916);
}
.b90myh5.b90myh3 {
  background-color: var(--_1jo2ou917);
}
.b90myh7 {
  padding-left: 15px;
  right: 15px;
  height: 16px;
  width: 16px;
}
.b90myh7:not(:hover) {
  opacity: 0.4;
}
/* BASICS */

.CodeMirror {
  /* Set height, width, borders, and global font properties here */
  font-family: monospace;
  height: 300px;
  color: black;
  direction: ltr;
}

/* PADDING */

.CodeMirror-lines {
  padding: 4px 0; /* Vertical padding around content */
}
.CodeMirror pre.CodeMirror-line,
.CodeMirror pre.CodeMirror-line-like {
  padding: 0 4px; /* Horizontal padding of content */
}

.CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
  background-color: white; /* The little square between H and V scrollbars */
}

/* GUTTER */

.CodeMirror-gutters {
  border-right: 1px solid #ddd;
  background-color: #f7f7f7;
  white-space: nowrap;
}
.CodeMirror-linenumbers {}
.CodeMirror-linenumber {
  padding: 0 3px 0 5px;
  min-width: 20px;
  text-align: right;
  color: #999;
  white-space: nowrap;
}

.CodeMirror-guttermarker { color: black; }
.CodeMirror-guttermarker-subtle { color: #999; }

/* CURSOR */

.CodeMirror-cursor {
  border-left: 1px solid black;
  border-right: none;
  width: 0;
}
/* Shown when moving in bi-directional text */
.CodeMirror div.CodeMirror-secondarycursor {
  border-left: 1px solid silver;
}
.cm-fat-cursor .CodeMirror-cursor {
  width: auto;
  border: 0 !important;
  background: #7e7;
}
.cm-fat-cursor div.CodeMirror-cursors {
  z-index: 1;
}
.cm-fat-cursor .CodeMirror-line::selection,
.cm-fat-cursor .CodeMirror-line > span::selection, 
.cm-fat-cursor .CodeMirror-line > span > span::selection { background: transparent; }
.cm-fat-cursor .CodeMirror-line::-moz-selection,
.cm-fat-cursor .CodeMirror-line > span::-moz-selection,
.cm-fat-cursor .CodeMirror-line > span > span::-moz-selection { background: transparent; }
.cm-fat-cursor { caret-color: transparent; }
@-moz-keyframes blink {
  0% {}
  50% { background-color: transparent; }
  100% {}
}
@-webkit-keyframes blink {
  0% {}
  50% { background-color: transparent; }
  100% {}
}
@keyframes blink {
  0% {}
  50% { background-color: transparent; }
  100% {}
}

/* Can style cursor different in overwrite (non-insert) mode */
.CodeMirror-overwrite .CodeMirror-cursor {}

.cm-tab { display: inline-block; text-decoration: inherit; }

.CodeMirror-rulers {
  position: absolute;
  left: 0; right: 0; top: -50px; bottom: 0;
  overflow: hidden;
}
.CodeMirror-ruler {
  border-left: 1px solid #ccc;
  top: 0; bottom: 0;
  position: absolute;
}

/* DEFAULT THEME */

.cm-s-default .cm-header {color: blue;}
.cm-s-default .cm-quote {color: #090;}
.cm-negative {color: #d44;}
.cm-positive {color: #292;}
.cm-header, .cm-strong {font-weight: bold;}
.cm-em {font-style: italic;}
.cm-link {text-decoration: underline;}
.cm-strikethrough {text-decoration: line-through;}

.cm-s-default .cm-keyword {color: #708;}
.cm-s-default .cm-atom {color: #219;}
.cm-s-default .cm-number {color: #164;}
.cm-s-default .cm-def {color: #00f;}
.cm-s-default .cm-variable,
.cm-s-default .cm-punctuation,
.cm-s-default .cm-property,
.cm-s-default .cm-operator {}
.cm-s-default .cm-variable-2 {color: #05a;}
.cm-s-default .cm-variable-3, .cm-s-default .cm-type {color: #085;}
.cm-s-default .cm-comment {color: #a50;}
.cm-s-default .cm-string {color: #a11;}
.cm-s-default .cm-string-2 {color: #f50;}
.cm-s-default .cm-meta {color: #555;}
.cm-s-default .cm-qualifier {color: #555;}
.cm-s-default .cm-builtin {color: #30a;}
.cm-s-default .cm-bracket {color: #997;}
.cm-s-default .cm-tag {color: #170;}
.cm-s-default .cm-attribute {color: #00c;}
.cm-s-default .cm-hr {color: #999;}
.cm-s-default .cm-link {color: #00c;}

.cm-s-default .cm-error {color: #f00;}
.cm-invalidchar {color: #f00;}

.CodeMirror-composing { border-bottom: 2px solid; }

/* Default styles for common addons */

div.CodeMirror span.CodeMirror-matchingbracket {color: #0b0;}
div.CodeMirror span.CodeMirror-nonmatchingbracket {color: #a22;}
.CodeMirror-matchingtag { background: rgba(255, 150, 0, .3); }
.CodeMirror-activeline-background {background: #e8f2ff;}

/* STOP */

/* The rest of this file contains styles related to the mechanics of
   the editor. You probably shouldn't touch them. */

.CodeMirror {
  position: relative;
  overflow: hidden;
  background: white;
}

.CodeMirror-scroll {
  overflow: scroll !important; /* Things will break if this is overridden */
  /* 50px is the magic margin used to hide the element's real scrollbars */
  /* See overflow: hidden in .CodeMirror */
  margin-bottom: -50px; margin-right: -50px;
  padding-bottom: 50px;
  height: 100%;
  outline: none; /* Prevent dragging from highlighting the element */
  position: relative;
  z-index: 0;
}
.CodeMirror-sizer {
  position: relative;
  border-right: 50px solid transparent;
}

/* The fake, visible scrollbars. Used to force redraw during scrolling
   before actual scrolling happens, thus preventing shaking and
   flickering artifacts. */
.CodeMirror-vscrollbar, .CodeMirror-hscrollbar, .CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
  position: absolute;
  z-index: 6;
  display: none;
  outline: none;
}
.CodeMirror-vscrollbar {
  right: 0; top: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}
.CodeMirror-hscrollbar {
  bottom: 0; left: 0;
  overflow-y: hidden;
  overflow-x: scroll;
}
.CodeMirror-scrollbar-filler {
  right: 0; bottom: 0;
}
.CodeMirror-gutter-filler {
  left: 0; bottom: 0;
}

.CodeMirror-gutters {
  position: absolute; left: 0; top: 0;
  min-height: 100%;
  z-index: 3;
}
.CodeMirror-gutter {
  white-space: normal;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  margin-bottom: -50px;
}
.CodeMirror-gutter-wrapper {
  position: absolute;
  z-index: 4;
  background: none !important;
  border: none !important;
}
.CodeMirror-gutter-background {
  position: absolute;
  top: 0; bottom: 0;
  z-index: 4;
}
.CodeMirror-gutter-elt {
  position: absolute;
  cursor: default;
  z-index: 4;
}
.CodeMirror-gutter-wrapper ::selection { background-color: transparent }
.CodeMirror-gutter-wrapper ::-moz-selection { background-color: transparent }

.CodeMirror-lines {
  cursor: text;
  min-height: 1px; /* prevents collapsing before first draw */
}
.CodeMirror pre.CodeMirror-line,
.CodeMirror pre.CodeMirror-line-like {
  /* Reset some styles that the rest of the page might have set */
  -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
  border-width: 0;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  white-space: pre;
  word-wrap: normal;
  line-height: inherit;
  color: inherit;
  z-index: 2;
  position: relative;
  overflow: visible;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-variant-ligatures: contextual;
  font-variant-ligatures: contextual;
}
.CodeMirror-wrap pre.CodeMirror-line,
.CodeMirror-wrap pre.CodeMirror-line-like {
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: normal;
}

.CodeMirror-linebackground {
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
  z-index: 0;
}

.CodeMirror-linewidget {
  position: relative;
  z-index: 2;
  padding: 0.1px; /* Force widget margins to stay inside of the container */
}

.CodeMirror-widget {}

.CodeMirror-rtl pre { direction: rtl; }

.CodeMirror-code {
  outline: none;
}

/* Force content-box sizing for the elements where we expect it */
.CodeMirror-scroll,
.CodeMirror-sizer,
.CodeMirror-gutter,
.CodeMirror-gutters,
.CodeMirror-linenumber {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.CodeMirror-measure {
  position: absolute;
  width: 100%;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.CodeMirror-cursor {
  position: absolute;
  pointer-events: none;
}
.CodeMirror-measure pre { position: static; }

div.CodeMirror-cursors {
  visibility: hidden;
  position: relative;
  z-index: 3;
}
div.CodeMirror-dragcursors {
  visibility: visible;
}

.CodeMirror-focused div.CodeMirror-cursors {
  visibility: visible;
}

.CodeMirror-selected { background: #d9d9d9; }
.CodeMirror-focused .CodeMirror-selected { background: #d7d4f0; }
.CodeMirror-crosshair { cursor: crosshair; }
.CodeMirror-line::selection, .CodeMirror-line > span::selection, .CodeMirror-line > span > span::selection { background: #d7d4f0; }
.CodeMirror-line::-moz-selection, .CodeMirror-line > span::-moz-selection, .CodeMirror-line > span > span::-moz-selection { background: #d7d4f0; }

.cm-searching {
  background-color: #ffa;
  background-color: rgba(255, 255, 0, .4);
}

/* Used to force a border model for a node */
.cm-force-border { padding-right: .1px; }

@media print {
  /* Hide the cursor when printing */
  .CodeMirror div.CodeMirror-cursors {
    visibility: hidden;
  }
}

/* See issue #2901 */
.cm-tab-wrap-hack:after { content: ''; }

/* Help users use markselection to safely style text background */
span.CodeMirror-selectedtext { background: none; }

/* neo theme for codemirror */

/* Color scheme */

.cm-s-neo.CodeMirror {
  background-color:#ffffff;
  color:#2e383c;
  line-height:1.4375;
}
.cm-s-neo .cm-comment { color:#75787b; }
.cm-s-neo .cm-keyword, .cm-s-neo .cm-property { color:#1d75b3; }
.cm-s-neo .cm-atom,.cm-s-neo .cm-number { color:#75438a; }
.cm-s-neo .cm-node,.cm-s-neo .cm-tag { color:#9c3328; }
.cm-s-neo .cm-string { color:#b35e14; }
.cm-s-neo .cm-variable,.cm-s-neo .cm-qualifier { color:#047d65; }


/* Editor styling */

.cm-s-neo pre {
  padding:0;
}

.cm-s-neo .CodeMirror-gutters {
  border:none;
  border-right:10px solid transparent;
  background-color:transparent;
}

.cm-s-neo .CodeMirror-linenumber {
  padding:0;
  color:#e0e2e5;
}

.cm-s-neo .CodeMirror-guttermarker { color: #1d75b3; }
.cm-s-neo .CodeMirror-guttermarker-subtle { color: #e0e2e5; }

.cm-s-neo .CodeMirror-cursor {
  width: auto;
  border: 0;
  background: rgba(155,157,162,0.37);
  z-index: 1;
}

@keyframes _166ovkl1 {
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
._166ovkl0 {
  background-color: var(--_1jo2ou91b);
}
._166ovkl3 {
  background-color: var(--_1jo2ou917);
  color: var(--_1jo2ou911);
  min-width: 50px;
  margin-right: 4px;
  padding-right: 8px;
  animation-name: _166ovkl1;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
._166ovkl4 {
  width: 1em;
  padding: 0 8px;
}
._166ovkl6::after {
  content: "-";
}
._166ovkl8::after {
  content: "+";
  color: var(--_1jo2ou912);
}
.react-codemirror2 {
  height: 100%;
  background-color: var(--_1jo2ou919);
}
.CodeMirror {
  height: 100%;
  width: 100%;
  font-family: var(--_1jo2ou91);
  position: relative;
  z-index: 0;
}
.CodeMirror-gutters {
  min-width: var(--_1jo2ou9d);
  box-sizing: border-box;
  padding-left: 8px;
}
.CodeMirror pre, .CodeMirror-linenumber {
  font-size: 16px;
}
.CodeMirror-lines {
  padding: 16px 0;
}
.CodeMirror-hints {
  position: absolute;
  z-index: 10;
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 0;
  box-shadow: var(--_1jo2ou91d);
  border-radius: var(--_1jo2ou9a);
  background-color: var(--_1jo2ou919);
  font-size: 90%;
  line-height: 150%;
  font-family: var(--_1jo2ou91);
  max-height: 20em;
  overflow-y: auto;
}
[data-playroom-dark] .CodeMirror-hints {
  background-color: var(--_1jo2ou918);
}
.CodeMirror-hint {
  margin: 0;
  padding: 4px 8px;
  border-radius: var(--_1jo2ou99);
  white-space: pre;
  color: var(--_1jo2ou9q);
  cursor: pointer;
}
li.CodeMirror-hint-active {
  background-color: var(--_1jo2ou915);
  color: var(--_1jo2ou9z);
}
.CodeMirror-linenumbers {
  min-width: 50px;
}
.CodeMirror-foldmarker {
  color: var(--_1jo2ou912);
  font-family: arial;
  cursor: pointer;
  padding: 0 var(--_1jo2ou98);
}
.cm-s-neo.CodeMirror {
  background-color: var(--_1jo2ou919);
  color: var(--_1jo2ou9q);
}
.cm-s-neo .CodeMirror-cursor {
  background-color: var(--_1jo2ou9y);
  width: 2px;
}
.cm-s-neo .CodeMirror-gutters {
  background-color: var(--_1jo2ou919);
  border: none;
}
.cm-s-neo .CodeMirror-gutters::after {
  content: "";
  background-color: var(--_1jo2ou919);
  position: absolute;
  right: 2px;
  height: 100%;
  box-shadow: 0 0 10px 5px var(--_1jo2ou919);
}
.cm-s-neo .CodeMirror-selected {
  background: var(--_1jo2ou91b);
}
.cm-s-neo .CodeMirror-activeline-background {
  background: transparent;
}
.cm-s-neo .CodeMirror-guttermarker-subtle {
  display: flex;
  justify-content: center;
  color: var(--_1jo2ou9y);
  transition: var(--_1jo2ou9h);
}
.cm-s-neo .CodeMirror-guttermarker-subtle:not(:hover):not(._166ovkl8) {
  color: var(--_1jo2ou9x);
}
.cm-s-neo .CodeMirror-linenumber {
  min-width: 50px;
  color: var(--_1jo2ou9y);
  transition: var(--_1jo2ou9h);
}
.cm-s-neo .CodeMirror-linenumber:not(:hover):not(.cm-s-neo .CodeMirror-activeline .CodeMirror-linenumber) {
  color: var(--_1jo2ou9x);
}
.cm-s-neo .cm-tag {
  color: var(--_1jo2ou9r);
}
.cm-s-neo .cm-attribute,.cm-s-neo .cm-keyword,.cm-s-neo .cm-property {
  color: var(--_1jo2ou9s);
}
.cm-s-neo .cm-string {
  color: var(--_1jo2ou9t);
}
.cm-s-neo .cm-atom {
  color: var(--_1jo2ou9u);
}
.cm-s-neo .cm-variable {
  color: var(--_1jo2ou9v);
}
.cm-s-neo .cm-number {
  color: var(--_1jo2ou9w);
}
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: var(--_1jo2ou91a);
}
html[data-playroom-dark] {
  color-scheme: dark;
}
body {
  margin: 0;
}
.ab3mm63 {
  position: absolute !important;
}
.ab3mm66 {
  max-width: 90vw;
}
.ab3mm66.ab3mm64 {
  transform: translateX(100%);
}
.ab3mm68 {
  max-height: 90vh;
}
.ab3mm68.ab3mm64 {
  transform: translateY(100%);
}
.ab3mm6b.ab3mm69 {
  width: 60px;
}
.ab3mm6d {
  background: transparent;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  min-width: var(--_1jo2ou9e);
  height: var(--_1jo2ou9e);
}
.ab3mm6d::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: currentColor;
  opacity: 0;
  pointer-events: none;
  border-radius: var(--_1jo2ou9b);
  transition: var(--_1jo2ou9f);
}
.ab3mm6d:not(:hover):not(:focus) {
  opacity: 0.3;
}
.ab3mm6d:hover::before, .ab3mm6d:focus::before {
  opacity: 0.05;
}
.ab3mm6f {
  right: 60px;
}
