:root {
  --_1jo2ou90: Helvetica, arial, sans-serif;
  --_1jo2ou91: Source Code Pro, Firacode, Hasklig, Menlo, monospace;
  --_1jo2ou92: normal 10px Helvetica, arial, sans-serif;
  --_1jo2ou93: normal 12px Helvetica, arial, sans-serif;
  --_1jo2ou94: normal 14px Helvetica, arial, sans-serif;
  --_1jo2ou95: normal 16px/1.3em Helvetica, arial, sans-serif;
  --_1jo2ou96: 100;
  --_1jo2ou97: 700;
  --_1jo2ou98: 4px;
  --_1jo2ou99: 2px;
  --_1jo2ou9a: 4px;
  --_1jo2ou9b: 6px;
  --_1jo2ou9c: 100%;
  --_1jo2ou9d: 70px;
  --_1jo2ou9e: 44px;
  --_1jo2ou9f: opacity 300ms ease, transform 300ms ease;
  --_1jo2ou9g: opacity 200ms ease, transform 200ms ease;
  --_1jo2ou9h: opacity 100ms ease, transform 100ms ease;
  --_1jo2ou9i: 0;
  --_1jo2ou9j: 2px;
  --_1jo2ou9k: 4px;
  --_1jo2ou9l: 6px;
  --_1jo2ou9m: 12px;
  --_1jo2ou9n: 16px;
  --_1jo2ou9o: 20px;
  --_1jo2ou9p: 40px;
}
:root {
  --_1jo2ou9q: #000;
  --_1jo2ou9r: #040080;
  --_1jo2ou9s: #005ad2;
  --_1jo2ou9t: #00439c;
  --_1jo2ou9u: #00439c;
  --_1jo2ou9v: #0088ff;
  --_1jo2ou9w: #75438a;
  --_1jo2ou9x: #a7a7a7;
  --_1jo2ou9y: #515151;
  --_1jo2ou9z: #fff;
  --_1jo2ou910: #a7a7a7;
  --_1jo2ou911: #cd193d;
  --_1jo2ou912: #005ad2;
  --_1jo2ou913: #1da584;
  --_1jo2ou914: rgba(0, 0, 0, .05);
  --_1jo2ou915: #005ad2;
  --_1jo2ou916: #c5f5e9;
  --_1jo2ou917: #fee1e9;
  --_1jo2ou918: #1e1e1e;
  --_1jo2ou919: #fff;
  --_1jo2ou91a: #f4f4f4;
  --_1jo2ou91b: #e5f3ff;
  --_1jo2ou91c: #e8e8e8;
  --_1jo2ou91d: 0 2px 8px rgba(18, 21, 26, 0.3);
  --_1jo2ou91e: 0 0 0 5px #e5f3ff;
}
:root[data-playroom-dark] {
  --_1jo2ou9q: #f6f8fa;
  --_1jo2ou9r: #c8e1f7;
  --_1jo2ou9s: #68aeea;
  --_1jo2ou9t: #97c8f1;
  --_1jo2ou9u: #97c8f1;
  --_1jo2ou9v: #3e8fe0;
  --_1jo2ou9w: #aa83f2;
  --_1jo2ou9x: #3d4b63;
  --_1jo2ou9y: #f6f8fa;
  --_1jo2ou9z: #000;
  --_1jo2ou910: #828ea4;
  --_1jo2ou911: #fa6b6c;
  --_1jo2ou912: #3e8fe0;
  --_1jo2ou913: #28b888;
  --_1jo2ou914: rgba(0, 0, 0, .15);
  --_1jo2ou915: #3e8fe0;
  --_1jo2ou916: #195546;
  --_1jo2ou917: #4c1a20;
  --_1jo2ou918: #1c2230;
  --_1jo2ou919: #0f131b;
  --_1jo2ou91a: #0a0c11;
  --_1jo2ou91b: rgba(41,111,192,0.15);
  --_1jo2ou91c: #1c2230;
  --_1jo2ou91d: 0 0 10px -2px #2d3648;
  --_1jo2ou91e: 0 0 0 5px rgba(104,174,234,0.4);
}
._1jo2ou91f {
  position: absolute;
}
._1jo2ou91g {
  position: relative;
}
._1jo2ou91h {
  position: fixed;
}
._1jo2ou91i {
  top: 0;
}
._1jo2ou91j {
  bottom: 0;
}
._1jo2ou91k {
  left: 0;
}
._1jo2ou91l {
  right: 0;
}
._1jo2ou91m {
  display: none;
}
._1jo2ou91n {
  display: flex;
}
._1jo2ou91o {
  display: block;
}
._1jo2ou91p {
  display: inline;
}
._1jo2ou91q {
  flex-direction: row;
}
._1jo2ou91r {
  flex-direction: column;
}
._1jo2ou91s {
  flex-direction: row-reverse;
}
._1jo2ou91t {
  flex-wrap: wrap;
}
._1jo2ou91u {
  justify-content: stretch;
}
._1jo2ou91v {
  justify-content: flex-start;
}
._1jo2ou91w {
  justify-content: center;
}
._1jo2ou91x {
  justify-content: flex-end;
}
._1jo2ou91y {
  justify-content: space-around;
}
._1jo2ou91z {
  justify-content: space-between;
}
._1jo2ou920 {
  align-items: stretch;
}
._1jo2ou921 {
  align-items: flex-start;
}
._1jo2ou922 {
  align-items: center;
}
._1jo2ou923 {
  align-items: flex-end;
}
._1jo2ou924 {
  padding-top: var(--_1jo2ou9i);
}
._1jo2ou925 {
  padding-top: var(--_1jo2ou9j);
}
._1jo2ou926 {
  padding-top: var(--_1jo2ou9k);
}
._1jo2ou927 {
  padding-top: var(--_1jo2ou9l);
}
._1jo2ou928 {
  padding-top: var(--_1jo2ou9m);
}
._1jo2ou929 {
  padding-top: var(--_1jo2ou9n);
}
._1jo2ou92a {
  padding-top: var(--_1jo2ou9o);
}
._1jo2ou92b {
  padding-top: var(--_1jo2ou9p);
}
._1jo2ou92c {
  padding-bottom: var(--_1jo2ou9i);
}
._1jo2ou92d {
  padding-bottom: var(--_1jo2ou9j);
}
._1jo2ou92e {
  padding-bottom: var(--_1jo2ou9k);
}
._1jo2ou92f {
  padding-bottom: var(--_1jo2ou9l);
}
._1jo2ou92g {
  padding-bottom: var(--_1jo2ou9m);
}
._1jo2ou92h {
  padding-bottom: var(--_1jo2ou9n);
}
._1jo2ou92i {
  padding-bottom: var(--_1jo2ou9o);
}
._1jo2ou92j {
  padding-bottom: var(--_1jo2ou9p);
}
._1jo2ou92k {
  padding-left: var(--_1jo2ou9i);
}
._1jo2ou92l {
  padding-left: var(--_1jo2ou9j);
}
._1jo2ou92m {
  padding-left: var(--_1jo2ou9k);
}
._1jo2ou92n {
  padding-left: var(--_1jo2ou9l);
}
._1jo2ou92o {
  padding-left: var(--_1jo2ou9m);
}
._1jo2ou92p {
  padding-left: var(--_1jo2ou9n);
}
._1jo2ou92q {
  padding-left: var(--_1jo2ou9o);
}
._1jo2ou92r {
  padding-left: var(--_1jo2ou9p);
}
._1jo2ou92s {
  padding-right: var(--_1jo2ou9i);
}
._1jo2ou92t {
  padding-right: var(--_1jo2ou9j);
}
._1jo2ou92u {
  padding-right: var(--_1jo2ou9k);
}
._1jo2ou92v {
  padding-right: var(--_1jo2ou9l);
}
._1jo2ou92w {
  padding-right: var(--_1jo2ou9m);
}
._1jo2ou92x {
  padding-right: var(--_1jo2ou9n);
}
._1jo2ou92y {
  padding-right: var(--_1jo2ou9o);
}
._1jo2ou92z {
  padding-right: var(--_1jo2ou9p);
}
._1jo2ou930 {
  margin-top: var(--_1jo2ou9i);
}
._1jo2ou931 {
  margin-top: var(--_1jo2ou9j);
}
._1jo2ou932 {
  margin-top: var(--_1jo2ou9k);
}
._1jo2ou933 {
  margin-top: var(--_1jo2ou9l);
}
._1jo2ou934 {
  margin-top: var(--_1jo2ou9m);
}
._1jo2ou935 {
  margin-top: var(--_1jo2ou9n);
}
._1jo2ou936 {
  margin-top: var(--_1jo2ou9o);
}
._1jo2ou937 {
  margin-top: var(--_1jo2ou9p);
}
._1jo2ou938 {
  margin-bottom: var(--_1jo2ou9i);
}
._1jo2ou939 {
  margin-bottom: var(--_1jo2ou9j);
}
._1jo2ou93a {
  margin-bottom: var(--_1jo2ou9k);
}
._1jo2ou93b {
  margin-bottom: var(--_1jo2ou9l);
}
._1jo2ou93c {
  margin-bottom: var(--_1jo2ou9m);
}
._1jo2ou93d {
  margin-bottom: var(--_1jo2ou9n);
}
._1jo2ou93e {
  margin-bottom: var(--_1jo2ou9o);
}
._1jo2ou93f {
  margin-bottom: var(--_1jo2ou9p);
}
._1jo2ou93g {
  margin-left: var(--_1jo2ou9i);
}
._1jo2ou93h {
  margin-left: var(--_1jo2ou9j);
}
._1jo2ou93i {
  margin-left: var(--_1jo2ou9k);
}
._1jo2ou93j {
  margin-left: var(--_1jo2ou9l);
}
._1jo2ou93k {
  margin-left: var(--_1jo2ou9m);
}
._1jo2ou93l {
  margin-left: var(--_1jo2ou9n);
}
._1jo2ou93m {
  margin-left: var(--_1jo2ou9o);
}
._1jo2ou93n {
  margin-left: var(--_1jo2ou9p);
}
._1jo2ou93o {
  margin-right: var(--_1jo2ou9i);
}
._1jo2ou93p {
  margin-right: var(--_1jo2ou9j);
}
._1jo2ou93q {
  margin-right: var(--_1jo2ou9k);
}
._1jo2ou93r {
  margin-right: var(--_1jo2ou9l);
}
._1jo2ou93s {
  margin-right: var(--_1jo2ou9m);
}
._1jo2ou93t {
  margin-right: var(--_1jo2ou9n);
}
._1jo2ou93u {
  margin-right: var(--_1jo2ou9o);
}
._1jo2ou93v {
  margin-right: var(--_1jo2ou9p);
}
._1jo2ou93w {
  overflow: hidden;
}
._1jo2ou93x {
  overflow: auto;
}
._1jo2ou93y {
  box-shadow: var(--_1jo2ou91d);
}
._1jo2ou93z {
  box-shadow: var(--_1jo2ou91e);
}
._1jo2ou940 {
  border-radius: var(--_1jo2ou99);
}
._1jo2ou941 {
  border-radius: var(--_1jo2ou9a);
}
._1jo2ou942 {
  border-radius: var(--_1jo2ou9b);
}
._1jo2ou943 {
  border-radius: var(--_1jo2ou9c);
}
._1jo2ou944 {
  transition: var(--_1jo2ou9f);
}
._1jo2ou945 {
  transition: var(--_1jo2ou9g);
}
._1jo2ou946 {
  transition: var(--_1jo2ou9h);
}
._1jo2ou947 {
  cursor: pointer;
}
._1jo2ou948 {
  pointer-events: none;
}
._1jo2ou949 {
  pointer-events: auto;
}
._1jo2ou94a {
  user-select: none;
}
._1jo2ou94b {
  appearance: none;
}
._1jo2ou94c {
  opacity: 0;
}
._1jo2ou94d {
  z-index: 0;
}
._1jo2ou94e {
  z-index: 1;
}
._1jo2ou94f {
  font: var(--_1jo2ou92);
}
._1jo2ou94g {
  font: var(--_1jo2ou93);
}
._1jo2ou94h {
  font: var(--_1jo2ou94);
}
._1jo2ou94i {
  font: var(--_1jo2ou95);
}
._1jo2ou94j {
  font-weight: var(--_1jo2ou96);
}
._1jo2ou94k {
  font-weight: var(--_1jo2ou97);
}
._1jo2ou94l {
  width: 100%;
}
._1jo2ou94m {
  width: 100vw;
}
._1jo2ou94n {
  height: 100%;
}
._1jo2ou94o {
  height: 100vh;
}
._1jo2ou94p {
  white-space: nowrap;
}
._1jo2ou94q {
  box-sizing: border-box;
}
._1jo2ou94r {
  text-align: center;
}
._1jo2ou94s {
  text-align: left;
}
._1jo2ou94t {
  text-align: right;
}
._1jo2ou94u {
  border: 0;
}
@keyframes v6r55y4 {
  0%, 100% {
    opacity: 0;
  }
  20%, 80% {
    opacity: 1;
  }
  50%, 100% {
    stroke-dashoffset: 0;
  }
}
.v6r55y1 {
  z-index: 100;
  background: var(--_1jo2ou918);
  color: var(--_1jo2ou9z);
}
.v6r55y3 > svg > path {
  stroke-dasharray: 1000px;
  stroke-dashoffset: 1000;
  animation-name: v6r55y4;
  animation-duration: 1300ms;
  animation-delay: 500ms;
  animation-direction: forwards;
  animation-timing-function: ease-in;
  animation-iteration-count: 2;
  animation-fill-mode: forwards;
}
.v6r55y5 {
  margin: 0 auto;
  width: 40vw;
  max-width: 200px;
}
._1tmfvna1 {
  color: var(--_1jo2ou9y);
}
._1tmfvna2 {
  color: var(--_1jo2ou911);
}
._1tmfvna9 {
  text-overflow: ellipsis;
}
