@use '../dist/variables';

@use '../dist/mixin' as themeMixin;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// Include the theme mixin
.leiden-theme {
    @include themeMixin.leiden-theme;
}

body.utrecht-page {
    max-inline-size: 100%; // TODO: Use a (custom) design token if there are more items
    background-color: var(--basis-color-default-bg-default);
    margin-block-end: 0; // TODO: Use a (custom) design token if there are more items
}

.utrecht-page__content {
    background-color: var(--basis-color-default-bg-default);
    margin: 0 auto; // TODO: Use a (custom) design token if there are more items
}

.openforms-app__body {
    background: var(--basis-color-default-inverse-color-document);
}

.openforms-app__progress-indicator .openforms-progress-indicator {
    background: var(--basis-color-default-inverse-color-document);
}



/* START WYSIWYG Editor */

// Content
.openforms-formio-content {
    font-family: var(--basis-text-font-family-default);
}

// Heading 1 - H2
// .openforms-formio-content h1 {
//     font-family: variables.$basis-heading-font-family;
//     font-size: variables.$basis-text-font-size-3xl;
//     line-height: variables.$basis-text-line-height-3xl;
//     font-weight: variables.$basis-heading-font-weight;
//     // letter-spacing: variables.$typography-heading-1-letter-spacing;
//     // text-decoration: variables.$typography-heading-1-text-decoration;
//     // color: variables.$utrecht-heading-1-color;
// }
// Heading 2 - H1
.openforms-formio-content h2 {
    font-family: var(--basis-heading-font-family);
    font-size: var(--basis-text-font-size-2xl);
    line-height: var(--basis-text-line-height-2xl);
    font-weight: var(--basis-heading-font-weight);
    // letter-spacing: variables.$typography-heading-2-letter-spacing;
    // text-decoration: variables.$typography-heading-2-text-decoration;
    // color: variables.$utrecht-heading-2-color;
}
// Heading 3 - H2
.openforms-formio-content h3 {
    font-family: var(--basis-heading-font-family);
    font-size: var(--basis-text-font-size-xl);
    line-height: var(--basis-text-line-height-xl);
    font-weight: var(--basis-heading-font-weight);
    // letter-spacing: var(--typography-heading-3-letter-spacing);
    // text-decoration: var(--typography-heading-3-text-decoration);
    // color: variables.$utrecht-heading-3-color;
}
// Heading 4 - H3
.openforms-formio-content h4 {
    font-family: var(--basis-heading-font-family);
    font-size: var(--basis-text-font-size-lg);
    line-height: var(--basis-text-line-height-lg);
    font-weight: var(--basis-heading-font-weight);
    // letter-spacing: variables.$typography-heading-4-letter-spacing;
    // text-decoration: variables.$typography-heading-4-text-decoration;
    // color: variables.$utrecht-heading-3-color;
}

// Paragraph
.openforms-formio-content p {
    font-family: var(--basis-text-font-family-default);
    font-size: var(--basis-text-font-size-md);
}

// // Link hover
// .openforms-formio-content a:hover {
//     // color: variables.$color-red-50;
// }

// Text Tiny
.openforms-formio-content span.text-tiny {
    font-size: calc(var(--basis-text-font-size-sm) - 0.125rem);
}
// Text Small
.openforms-formio-content span.text-small {
    font-size: var(--basis-text-font-size-sm);
}
// Text Big
.openforms-formio-content span.text-big {
    font-size: var(--basis-text-font-size-lg);
}
// // Text Huge
.openforms-formio-content span.text-huge {
    font-size: var(--basis-text-font-size-xl);
}

// Unordered list
// Ordered list
.openforms-formio-content ul,
.openforms-formio-content ol {
    font-family: var(--basis-text-font-family-default);
}

// Caption
.openforms-formio-content figcaption {
    font-family: var(--basis-text-font-family-default);
    // font-size: variables.$typography-font-size-sm;
    // color: variables.$color-grey-50;
}

// // Blockquote
// .openforms-formio-content blockquote {
//     // font-size: variables.$typography-font-size-lg;
//     // border-left: variables.$border-width-md variables.$border-style-solid variables.$color-red-40;
//     // padding-left: variables.$space-block-xl;
// }

// // Table
// // TODO: Table full width with no margin?
// // TODO: Table with header row
// // TODO: Table with header column
// // TODO: Table with both

.openforms-formio-content table {
    font-family: var(--basis-text-font-family-default);
}

// .openforms-formio-content figure.table {
//     margin: 0;
// }
// .openforms-formio-content table {
//     // font-size: variables.$typography-font-size-sm;
//     width: 100%;
// }
// .openforms-formio-content table th {
//     // background-color: variables.$color-black;
//     // color: variables.$color-white;
//     // font-weight: variables.$typography-font-weight-bold;
//     // padding: variables.$space-block-sm;
//     border: 0;
// }
// .openforms-formio-content table tr {
//   border: 0;
// }
// .openforms-formio-content table tr:nth-of-type(odd) {
//     // background-color: variables.$color-grey-40;
// }
// .openforms-formio-content table tr:last-child {
//   border: 0;
// }
// .openforms-formio-content table td {
//     // padding: variables.$space-block-sm;
// }

// // Embedded video
// // BUG: Shows url and not the embedded video

// Content info
.openforms-formio-content.openforms-formio-content--info {
    border-inline-start-color: var(--basis-color-info-border-default);
}

// Content warning
.openforms-formio-content.openforms-formio-content--warning {
    border-inline-start-color: var(--basis-color-warning-border-default);
}

// Content error
.openforms-formio-content.openforms-formio-content--error {
    border-inline-start-color: var(--basis-color-negative-border-default);
}

// Content success
.openforms-formio-content.openforms-formio-content--success {
    border-inline-start-color: var(--basis-color-positive-border-default);
}

/* END WYSIWYG Editor */

// editgrid - fieldset items
.openforms-editgrid .openforms-editgrid__item {
    background: var(--basis-color-default-bg-default);
}

/* TODO: Check if there are design tokens for the styling below
 * TODO: Check if nested fieldsets are working as expected
 */
// fieldset.openforms-fieldset:not(.openforms-fieldset--no-header) {
//     padding: 1rem;
//     border: 0;
//     box-sizing: border-box;
// }
// fieldset.openforms-fieldset:not(.openforms-fieldset--no-header):has(:not(.openforms-fieldset)) {
//     background: var(--basis-color-default-bg-default);
// }

// // .openforms-fieldset legend.openforms-legend {
// //     margin: 0;
// //     padding: 0 0 3rem 0;
// //     position: relative;
// //     top: 3rem;
// //     color: #101920;
// //     font-weight: 700;
// // }

// // .utrecht-page__content.utrecht-page-content {
// //     // background: variables.$of-layout-bg;
// //     max-inline-size: 1200px;
// //     margin: 0 auto;
// // }

// /*  You may want to specify a background color for the .utrecht-page selector. 
//     Open Forms currently falls back to --of-layout-background-color, but if you
//     have a custom theme this will not be picked up. 

//     @doc https://open-forms.readthedocs.io/en/3.0.3/installation/upgrade-250.html#page
// */
// // body.utrecht-page {
// //     background: variables.$of-layout-bg;
// // }
