@use '../dist/variables';

@use '../dist/mixin' as themeMixin;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.leiden-theme {
    @include themeMixin.leiden-theme;

    /*
    * CUSTOM OVERRIDE
    * Reason: Wrong icon on the save form link; missing feature in NLDS or OF.
    * Related Component: openforms-form-navigation-save-button
    * Upstream Issue: TODO - create an issue
    * Safe to remove when: OF changed the default icon
    * Last verified: 2025-11-19 (OF 3.3.4)
    */
    --of-form-navigation-save-button-fa-icon: "";
}

/*
 * CUSTOM OVERRIDE
 * Reason: Skip to link is not styled; missing feature in NLDS or OF.
 * Related Component: skiplink / utrecht-link
 * Upstream Issue: TODO - create an issue
 * Safe to remove when: OF includes centered left-aligned logo slot OR alignment token.
 * Last verified: 2025-11-19 (OF 3.3.4)
 */
a.skiplink.utrecht-link {
  margin-block-start: var(--basis-space-block-lg);
  margin-block-end: var(--basis-space-block-lg);
  margin-inline-start: var(--basis-space-inline-lg);
  margin-inline-end: var(--basis-space-inline-lg);
  padding-block-start: var(--basis-space-block-lg);
  padding-block-end: var(--basis-space-block-lg);
  padding-inline-start: var(--basis-space-inline-lg);
  padding-inline-end: var(--basis-space-inline-lg);
  background: var(--basis-focus-background-color);
  border-color: var(--basis-focus-background-color);
  border-radius: var(--basis-border-radius-md);
  border-style: solid;
  border-width: var(--basis-border-width-lg);
  box-sizing: border-box;
  text-decoration: none;
  color: var(--basis-focus-color);
  font-weight: var(--basis-text-font-weight-bold);
}

/*
 * CUSTOM OVERRIDE
 * Reason: Center the Open Forms logo inside the header; missing feature in NLDS or OF.
 * Related Component: utrecht-page-header / logo alignment
 * Upstream Issue: TODO - create an issue
 * Safe to remove when: OF includes centered left-aligned logo slot OR alignment token.
 * Last verified: 2025-11-19 (OF 3.3.4)
 */
.utrecht-page-header--openforms-with-logo {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  max-inline-size: var(--basis-page-max-inline-size);
  margin: 0 auto;
}

/*
 * CUSTOM OVERRIDE
 * Reason: Center the Open Forms content containers; missing feature in NLDS or OF.
 * Related Component: utrecht-page / utrecht-page-content / openforms-app-body / alignment
 * Upstream Issue: TODO - create an issue
 * Safe to remove when: OF includes alignment tokens.
 * Last verified: 2025-11-19 (OF 3.3.4)
 */
body.utrecht-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  max-inline-size: 100%;
  background-color: var(--basis-color-default-color-document);
  padding-inline-end: 0;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

.utrecht-page__content {
  background-color: var(--basis-color-default-bg-default);
  max-inline-size: 100%;
  flex: 1 0 auto;
}

.utrecht-page-content__main {
  max-inline-size: var(--basis-page-max-inline-size);
  margin: 0 auto;
}

.openforms-app__body {
  background: var(--basis-color-default-inverse-color-document);
}

.a11y-toolbar {
  max-inline-size: var(--basis-page-max-inline-size);
  margin: 0 auto;
}

footer.utrecht-page-footer {
  flex-shrink: 0;
}

/*
 * CUSTOM OVERRIDE
 * Reason: Hide file details section when there are no items uploaded; missing feature in NLDS or OF.
 * Related Component: file-upload-file-details
 * Upstream Issue: TODO - create an issue
 * Safe to remove when: OF includes tokens for the component.
 * Last verified: 2025-11-19 (OF 3.3.4)
 */
.list-group {
  display: none;
}

.list-group:has(> li.list-group-item:not(.list-group-header)) {
  display: block;
}

/*
 * CUSTOM OVERRIDE
 * Reason: Drop zone is interactive and should have a border radius, more padding and different colors in our design; missing feature in NLDS or OF.
 * Related Component: file-upload-drop-zone
 * Upstream Issue: TODO - create an issue
 * Safe to remove when: OF includes tokens for the drag zone.
 * Last verified: 2025-11-19 (OF 3.3.4)
 */
.utrecht-form-field.utrecht-form-field--file .fileSelector {
  border-radius: var(--basis-form-control-border-radius);
  background: var(--basis-color-default-bg-default);
  border-color: var(--basis-color-default-border-default);
  border-width: var(--basis-border-width-md);
  padding-block: var(--basis-space-block-4xl);
  padding-inline: var(--basis-space-block-4xl);
  order: 2;
}

/*
 * CUSTOM OVERRIDE
 * Reason: Change the order of the elements inside the file upload error; missing feature in NLDS or OF.
 * Related Component: file-upload-error
 * Upstream Issue: TODO - create an issue
 * Safe to remove when: OF includes tokens for the component.
 * Last verified: 2025-11-26 (OF 3.3.4)
 */
.utrecht-form-field.utrecht-form-field--file .file {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  font-size: var(--basis-text-font-size-md);
}

.utrecht-form-field.utrecht-form-field--file .file > div.row:first-child {
  grid-column-start: 1;
  grid-column-end: 2;
}

.utrecht-form-field.utrecht-form-field--file .file > div.row:nth-child(2) {
  grid-column-start: 2;
  grid-column-end: 3;
  flex-direction: row-reverse;
  justify-content: flex-start;
}

.utrecht-form-field.utrecht-form-field--file .file .fileSize {
  width: auto;
}

.utrecht-form-field.utrecht-form-field--file .file.has-error {
    color: var(--basis-color-negative-color-default);
}

.utrecht-form-field.utrecht-form-field--file .file.has-error .alert.alert-danger.bg-error {
  font-weight: var(--basis-text-font-weight-bold);
  grid-column-start: 1;
  grid-column-end: 3;
}

.utrecht-form-field.utrecht-form-field--file .file [ref=fileStatusRemove] {
  color: var(--utrecht-button-subtle-color);
  opacity: 1;
}

.utrecht-form-field.utrecht-form-field--file .file [ref=fileStatusRemove]:hover {
  color: var(--utrecht-button-subtle-hover-color);
}

.utrecht-form-field--file .file:not(.has-error) {
  border-left: 4px solid var(--basis-color-info-color-active);
  padding-inline-start: var(--basis-space-inline-lg);
  box-sizing: border-box;
}

.utrecht-form-field.utrecht-form-field--file .fileSelector + .file:not(.has-error) {
  margin-top: 0;
}

.utrecht-form-field--file .openforms-loading {
  margin-bottom: 0;
  gap: var(--basis-space-column-sm);
}

.utrecht-form-field--file .openforms-loading .openforms-loading__spinner {
  border: 3px solid var(--basis-color-action-2-color-hover);
  border-top: 3px solid var(--of-color-primary);
  width: 10px;
  height: 10px;
}

.utrecht-form-field.utrecht-form-field--file .list-group:not(:last-child) {
  margin-bottom: 0;
}

.utrecht-form-field--file {
  display: flex;
  flex-direction: column;
  gap: var(--basis-space-row-sm);
}

.utrecht-form-field--file .utrecht-form-field__label {
  order: 1;
}

.utrecht-form-field--file .fileSelector {
  order: 2;
}

.utrecht-form-field--file .list-group {
  order: 3;
}

.utrecht-form-field--file .file {
  order: 4;
}

.utrecht-form-field--file .file.has-error {
  order: 5;
}

.utrecht-form-field--file .utrecht-form-field-description {
  order: 6;
}

/* list group order */
.utrecht-form-field.utrecht-form-field--file .list-group-item .row .col-md-1 {
  order: 3;
}

/*
 * CUSTOM OVERRIDE
 * Reason: The buttons submit variation doesn't set a color for the icon; missing feature in NLDS or OF.
 * Related Component: utrecht-button-submit
 * Upstream Issue: TODO - create an issue
 * Safe to remove when: OF or NLDS includes a color for the icon.
 * Last verified: 2025-11-19 (OF 3.3.4)
 */
button.utrecht-button--primary-action.utrecht-button--submit .utrecht-icon {
  color: currentColor;
}

/*
 * CUSTOM OVERRIDE
 * Reason: No token available to style the footer; missing feature in NLDS or OF.
 * Related Component: utrecht-link-list
 * Upstream Issue: TODO - create an issue
 * Safe to remove when: OF or NLDS include tokens for the footer.
 * Last verified: 2025-11-19 (OF 3.3.4)
 */
.utrecht-page-footer ul.utrecht-link-list {
  padding-inline-start: 0;
  flex-direction: row;
  column-gap: var(--basis-space-column-3xl);
}

/*
 * CUSTOM OVERRIDE
 * Reason: No option to set font-family for the WYSIWYG content; missing feature in NLDS or OF.
 * Related Component: openforms-formio-content
 * Upstream Issue: TODO - create an issue
 * Safe to remove when: OF or NLDS includes a token for the font-family on the WYSIWYG content component.
 * Last verified: 2025-11-19 (OF 3.3.4)
 */
.openforms-formio-content {
  font-family: var(--basis-text-font-family-default);
}

/*
 * CUSTOM OVERRIDE
 * Reason: No option to set font-family, font-size, line-height and font-weight for the WYSIWYG heading 2; missing feature in NLDS or OF.
 * Related Component: openforms-formio-heading-2
 * Upstream Issue: TODO - create an issue
 * Safe to remove when: OF or NLDS includes a token for the font-family, font-size, line-height and font-weight on the WYSIWYG heading 2 component.
 * Last verified: 2025-11-19 (OF 3.3.4)
 */
.openforms-formio-content h2 {
  font-family: var(--basis-heading-font-family);
  font-size: var(--basis-text-font-size-2xl);
  line-height: var(--basis-text-line-height-2xl);
  font-weight: var(--basis-heading-font-weight);
}

/*
 * CUSTOM OVERRIDE
 * Reason: No option to set font-family, font-size, line-height and font-weight for the WYSIWYG heading 3; missing feature in NLDS or OF.
 * Related Component: openforms-formio-heading-3
 * Upstream Issue: TODO - create an issue
 * Safe to remove when: OF or NLDS includes a token for the font-family, font-size, line-height and font-weight on the WYSIWYG heading 3 component.
 * Last verified: 2025-11-19 (OF 3.3.4)
 */
.openforms-formio-content h3 {
  font-family: var(--basis-heading-font-family);
  font-size: var(--basis-text-font-size-xl);
  line-height: var(--basis-text-line-height-xl);
  font-weight: var(--basis-heading-font-weight);
}

/*
 * CUSTOM OVERRIDE
 * Reason: No option to set font-family, font-size, line-height and font-weight for the WYSIWYG heading 4; missing feature in NLDS or OF.
 * Related Component: openforms-formio-heading-4
 * Upstream Issue: TODO - create an issue
 * Safe to remove when: OF or NLDS includes tokens for the font-family, font-size, line-height and font-weight on the WYSIWYG heading 4 component.
 * Last verified: 2025-11-19 (OF 3.3.4)
 */
.openforms-formio-content h4 {
  font-family: var(--basis-heading-font-family);
  font-size: var(--basis-text-font-size-lg);
  line-height: var(--basis-text-line-height-lg);
  font-weight: var(--basis-heading-font-weight);
}

/*
 * CUSTOM OVERRIDE
 * Reason: No option to set font-family and font-size for the WYSIWYG paragraph; missing feature in NLDS or OF.
 * Related Component: openforms-formio-paragraph
 * Upstream Issue: TODO - create an issue
 * Safe to remove when: OF or NLDS includes a token for the font-family and font-size on the WYSIWYG paragraph component.
 * Last verified: 2025-11-19 (OF 3.3.4)
 */
.openforms-formio-content p {
  font-family: var(--basis-text-font-family-default);
  font-size: var(--basis-text-font-size-md);
}

/*
 * CUSTOM OVERRIDE
 * Reason: No option to set color for the WYSIWYG link hovers; missing feature in NLDS or OF.
 * Related Component: openforms-formio-link
 * Upstream Issue: TODO - create an issue
 * Safe to remove when: OF or NLDS includes a token for the hovers on the WYSIWYG link component.
 * Last verified: 2025-11-19 (OF 3.3.4)
 */
.openforms-formio-content a {
  color: var(--nl-link-color);
  text-decoration: var(--nl-link-text-decoration-line);
}

.openforms-formio-content a:hover {
  color: var(--nl-link-hover-color);
}

/*
 * CUSTOM OVERRIDE
 * Reason: No option to set font-size for the WYSIWYG text tiny component; missing feature in NLDS or OF.
 * Related Component: openforms-formio-text-tiny
 * Upstream Issue: TODO - create an issue
 * Safe to remove when: OF or NLDS includes a token for the font-size on the WYSIWYG text tiny component.
 * Last verified: 2025-11-19 (OF 3.3.4)
 */
.openforms-formio-content span.text-tiny {
  font-size: calc(var(--basis-text-font-size-sm) - 0.125rem);
}

/*
 * CUSTOM OVERRIDE
 * Reason: No option to set font-size for the WYSIWYG text small component; missing feature in NLDS or OF.
 * Related Component: openforms-formio-text-small
 * Upstream Issue: TODO - create an issue
 * Safe to remove when: OF or NLDS includes a token for the font-size on the WYSIWYG text small component.
 * Last verified: 2025-11-19 (OF 3.3.4)
 */
.openforms-formio-content span.text-small {
  font-size: var(--basis-text-font-size-sm);
}

/*
 * CUSTOM OVERRIDE
 * Reason: No option to set font-size for the WYSIWYG text big component; missing feature in NLDS or OF.
 * Related Component: openforms-formio-text-big
 * Upstream Issue: TODO - create an issue
 * Safe to remove when: OF or NLDS includes a token for the font-size on the WYSIWYG text big component.
 * Last verified: 2025-11-19 (OF 3.3.4)
 */
.openforms-formio-content span.text-big {
  font-size: var(--basis-text-font-size-lg);
}

/*
 * CUSTOM OVERRIDE
 * Reason: No option to set font-size for the WYSIWYG text huge component; missing feature in NLDS or OF.
 * Related Component: openforms-formio-text-huge
 * Upstream Issue: TODO - create an issue
 * Safe to remove when: OF or NLDS includes a token for the font-size on the WYSIWYG text huge component.
 * Last verified: 2025-11-19 (OF 3.3.4)
 */
.openforms-formio-content span.text-huge {
  font-size: var(--basis-text-font-size-xl);
}

/*
 * CUSTOM OVERRIDE
 * Reason: No option to set font-family for the WYSIWYG (un)ordered lists; missing feature in NLDS or OF.
 * Related Component: openforms-formio-(un)ordered-lists
 * Upstream Issue: TODO - create an issue
 * Safe to remove when: OF or NLDS includes a token for the font-family on the WYSIWYG (un)ordered lists.
 * Last verified: 2025-11-19 (OF 3.3.4)
 */
.openforms-formio-content ul,
.openforms-formio-content ol {
  font-family: var(--basis-text-font-family-default);
}

/*
 * CUSTOM OVERRIDE
 * Reason: No option to style the WYSIWYG figcaption; missing feature in NLDS or OF.
 * Related Component: openforms-formio-content-figcaption
 * Upstream Issue: TODO - create an issue
 * Safe to remove when: OF or NLDS includes tokens on the WYSIWYG figcaption.
 * Last verified: 2025-11-19 (OF 3.3.4)
 */
.openforms-formio-content figcaption {
  font-family: var(--basis-text-font-family-default);
}

/*
 * CUSTOM OVERRIDE
 * Reason: No option to style the WYSIWYG blockquote; missing feature in NLDS or OF.
 * Related Component: openforms-formio-content-blockquote
 * Upstream Issue: TODO - create an issue
 * Safe to remove when: OF or NLDS includes tokens on the WYSIWYG blockquote.
 * Last verified: 2025-11-19 (OF 3.3.4)
 *
.openforms-formio-content blockquote {
    font-size: variables.$typography-font-size-lg;
    border-left: variables.$border-width-md variables.$border-style-solid variables.$color-red-40;
    padding-left: variables.$space-block-xl;
}
*/

/*
 * CUSTOM OVERRIDE
 * Reason: No option to style the WYSIWYG tables; missing feature in NLDS or OF.
 * Related Component: openforms-formio-content-table
 * Upstream Issue: TODO - create an issue
 * Safe to remove when: OF or NLDS includes tokens on the WYSIWYG table.
 * Last verified: 2025-11-19 (OF 3.3.4)
 */
.openforms-formio-content table {
  font-family: var(--basis-text-font-family-default);
}

.openforms-formio-content figure.table {
  margin: 0;
}

.openforms-formio-content table {
  font-size: var(--basis-text-font-size-sm);
  width: 100%;
}

.openforms-formio-content table th {
  background-color: var(--basis-color-default-color-document);
  color: var(--basis-color-action-1-inverse-color-default);
  font-weight: var(--basis-text-font-weight-bold);
  padding: var(--basis-space-block-lg);
  border: 0;
}

.openforms-formio-content table tr {
  border: 0;
}

.openforms-formio-content table tr:nth-of-type(odd) {
  background-color: var(--basis-color-default-bg-default);
}

.openforms-formio-content table tr:last-child {
  border: 0;
}

.openforms-formio-content table td {
  padding: var(--basis-space-block-lg);
}

/*
 * CUSTOM OVERRIDE
 * Reason: No option to style the WYSIWYG info; missing feature in NLDS or OF.
 * Related Component: openforms-formio-content-info
 * Upstream Issue: TODO - create an issue
 * Safe to remove when: OF or NLDS includes tokens on the WYSIWYG info.
 * Last verified: 2025-11-19 (OF 3.3.4)
 */
.openforms-formio-content.openforms-formio-content--info {
  border-inline-start-color: var(--basis-color-info-border-default);
}

/*
 * CUSTOM OVERRIDE
 * Reason: No option to style the WYSIWYG warning; missing feature in NLDS or OF.
 * Related Component: openforms-formio-content-info
 * Upstream Issue: TODO - create an issue
 * Safe to remove when: OF or NLDS includes tokens on the WYSIWYG warning.
 * Last verified: 2025-11-19 (OF 3.3.4)
 */
.openforms-formio-content.openforms-formio-content--warning {
  border-inline-start-color: var(--basis-color-warning-border-default);
}

/*
 * CUSTOM OVERRIDE
 * Reason: No option to style the WYSIWYG error; missing feature in NLDS or OF.
 * Related Component: openforms-formio-content-error
 * Upstream Issue: TODO - create an issue
 * Safe to remove when: OF or NLDS includes tokens on the WYSIWYG error.
 * Last verified: 2025-11-19 (OF 3.3.4)
 */
.openforms-formio-content.openforms-formio-content--error {
  border-inline-start-color: var(--basis-color-negative-border-default);
}

/*
 * CUSTOM OVERRIDE
 * Reason: No option to style the WYSIWYG success; missing feature in NLDS or OF.
 * Related Component: openforms-formio-content-success
 * Upstream Issue: TODO - create an issue
 * Safe to remove when: OF or NLDS includes tokens on the WYSIWYG success.
 * Last verified: 2025-11-19 (OF 3.3.4)
 */
.openforms-formio-content.openforms-formio-content--success {
  border-inline-start-color: var(--basis-color-positive-border-default);
}

/* END WYSIWYG Editor */
/*
 * CUSTOM OVERRIDE
 * Reason: No option to style the editgrid items; missing feature in NLDS or OF.
 * Related Component: openforms-editgrid-item / repeater
 * Upstream Issue: TODO - create an issue
 * Safe to remove when: OF or NLDS includes tokens on the editgrid items component.
 * Last verified: 2025-11-19 (OF 3.3.4)
 */
.openforms-editgrid .openforms-editgrid__item {
  background: var(--basis-color-default-bg-default);
}

.openforms-editgrid .openforms-editgrid__item:not(:last-of-type) {
  margin-block-end: var(--basis-space-column-xl);
}

/*
 * CUSTOM OVERRIDE
 * Reason: No option to style the fieldsets; missing feature in NLDS or OF.
 * Related Component: openforms-fieldset
 * Upstream Issue: TODO - create an issue
 * Safe to remove when: OF or NLDS includes tokens on the fieldsets.
 * Last verified: 2025-11-19 (OF 3.3.4)
 */
fieldset.openforms-fieldset:not(.openforms-fieldset--no-header) {
  padding-block-start: var(--basis-space-block-4xl);
  padding-block-end: var(--basis-space-block-xl);
  padding-inline-start: var(--basis-space-inline-xl);
  padding-inline-end: var(--basis-space-inline-xl);
  box-sizing: border-box;
  border: 0;
}

fieldset.openforms-fieldset:not(.openforms-fieldset--no-header):has(:not(.openforms-fieldset)) {
  background-color: var(--basis-color-default-bg-default);
}

fieldset.openforms-fieldset:not(.openforms-fieldset--no-header) > .openforms-form-field-container > div > fieldset.openforms-fieldset:not(.openforms-fieldset--no-header) {
  background-color: var(--basis-color-default-inverse-color-document);
}

fieldset.openforms-fieldset .openforms-form-field-container {
  gap: var(--basis-space-column-md);
}

.openforms-fieldset .openforms-fieldset__legend {
  position: relative;
  top: var(--basis-size-xs);
  margin-inline-start: 0;
  padding-block: 0;
  padding-inline: 0;
  font-family: var(--basis-heading-font-family);
  font-weight: var(--basis-heading-font-weight);
}

/*
 * CUSTOM OVERRIDE
 * Reason: Interactive elements should have a border-radius; missing feature in NLDS or OF.
 * Related Component: openforms-leaflet-map
 * Upstream Issue: TODO - create an issue
 * Safe to remove when: OF or NLDS includes a border-radius token on the leaflet map component.
 * Last verified: 2025-11-20 (OF 3.3.4)
 */
.openforms-leaflet-map {
  border-radius: var(--basis-form-control-border-radius);
}

/*
 * CUSTOM OVERRIDE
 * Reason: Headings should be bold; missing feature in NLDS or OF.
 * Related Component: openforms-progress-indicator openforms-caption
 * Upstream Issue: TODO - create an issue
 * Safe to remove when: OF or NLDS includes a font-weight token for the h2 inside the progress indicator component.
 * Last verified: 2025-11-20 (OF 3.3.4)
 */
.openforms-progress-indicator h2.openforms-caption {
  font-weight: var(--basis-heading-font-weight);
}

/*
 * CUSTOM OVERRIDE
 * Reason: Field blocks don't align with submit button; missing feature in NLDS or OF.
 * Related Component: openforms-multi-value-table
 * Upstream Issue: TODO - create an issue
 * Safe to remove when: OF or NLDS includes a border-spacing token for this component.
 * Last verified: 2025-11-20 (OF 3.3.4)
 */
.openforms-multi-value-table {
  border-spacing: 0;
}

/*
 * CUSTOM OVERRIDE
 * Reason: Align remove field icon with the end of the field; missing feature in NLDS or OF.
 * Related Component: openforms-multi-value-row-input
 * Upstream Issue: TODO - create an issue
 * Safe to remove when: OF or NLDS includes a token for this component.
 * Last verified: 2025-11-20 (OF 3.3.4)
 */
.openforms-multi-value-row__input {
  max-width: 25rem;
}

/*
 * CUSTOM OVERRIDE
 * Reason: Field blocks don't align with submit button; missing feature in NLDS or OF.
 * Related Component: openforms-multi-value-table
 * Upstream Issue: TODO - create an issue
 * Safe to remove when: OF or NLDS includes a border-spacing token for this component.
 * Last verified: 2025-11-20 (OF 3.3.4)
 */
.openforms-progress-indicator .utrecht-link--placeholder {
  --_utrecht-link-state-color: var(--basis-form-control-disabled-color);
}

/*
 * CUSTOM OVERRIDE
 * Reason: No option to style the progress indicator numbers; missing feature in NLDS or OF.
 * Related Component: openforms-progress-indicator
 * Upstream Issue: TODO - create an issue
 * Safe to remove when: OF or NLDS includes tokens for the progress indicator.
 * Last verified: 2025-12-10 (OF 3.3.8)
 */

.openforms-progress-indicator__nav .openforms-list {
    /* list-style: decimal; */
    gap: 0;
}

.openforms-progress-indicator__nav .openforms-list > li.openforms-list__item {
    list-style: none;
    counter-increment: progress-indicator-counter;
}
.openforms-progress-indicator__nav .openforms-list > li.openforms-list__item:first-child {
    counter-reset: progress-indicator-counter;
}

.openforms-progress-indicator__nav .openforms-list > li.openforms-list__item:not(:has(.fa-check)) {
    /* display:list-item; */
}

.openforms-progress-indicator__nav .openforms-list > li.openforms-list__item:not(:first-child) {
    padding-top: var(--basis-space-block-lg);
}

.openforms-progress-indicator__nav .openforms-list > li.openforms-list__item:not(:last-child){
    padding-bottom: var(--basis-space-block-lg);
    border-bottom: 1px solid var(--basis-color-default-bg-default);
}

.openforms-progress-indicator-item .openforms-progress-indicator-item__marker:before {
    content: counter(progress-indicator-counter);
    display: block;
    width: 1rem;
    height: 1rem;
    font-weight: var(--basis-text-font-weight-bold);
    background-color: var(--basis-color-transparent);
    color: var(--basis-color-default-color-document);
    text-align: center;
    line-height: 1rem;
    border-radius: var(--basis-border-radius-round);
    padding: var(--basis-space-block-md);
}
.openforms-progress-indicator__nav .openforms-list > li.openforms-list__item:has(.fa-check) .openforms-progress-indicator-item__marker:before {
    display: none;
}

.openforms-progress-indicator__nav .openforms-list > li.openforms-list__item:has(a.utrecht-link[aria-disabled="true"] ) .openforms-progress-indicator-item__marker:before {
    background-color: var(--basis-color-transparent);
    color: var(--basis-form-control-disabled-color);
}

.openforms-progress-indicator__nav .openforms-list > li.openforms-list__item:has(a.utrecht-link--current ) .openforms-progress-indicator-item__marker:before {
    background-color: var(--basis-color-default-color-document);
    color: var(--basis-color-default-inverse-color-document);
}

.openforms-progress-indicator-item .openforms-progress-indicator-item__marker {
    width: auto;
}

.openforms-progress-indicator-item .openforms-progress-indicator-item__marker i {
    border-radius: var(--basis-border-radius-round);
    padding-inline: var(--basis-space-inline-md);
    padding-block: var(--basis-space-block-md);
    color: var(--basis-color-positive-color-default);
    font-size: var(--basis-text-font-size-md);
}

.openforms-progress-indicator-item .openforms-progress-indicator-item__label {
    padding-inline-start: var(--basis-form-control-padding-inline-start);
    display: flex;
    align-items: center;
}

.openforms-progress-indicator__nav .openforms-list a.utrecht-link:not(:focus) {
    color: var(--basis-color-accent-2-border-default);
    text-decoration: underline;
}

.openforms-progress-indicator__nav .openforms-list a.utrecht-link:focus {
    color: var(--basis-color-default-inverse-color-document);
}

.openforms-progress-indicator__nav .openforms-list a.utrecht-link:hover {
    text-decoration: none;
}

.openforms-progress-indicator__nav .openforms-list a.utrecht-link[aria-disabled="true"] {
    color: var(--basis-form-control-disabled-color);
    text-decoration: none;
}

.openforms-progress-indicator__nav .openforms-list a.utrecht-link.utrecht-link--current:not(:focus)  {
    text-decoration: none;
    color: var(--of-color-fg);
}

/*
 * CUSTOM OVERRIDE
 * Reason: Choices button in a selection field missing style; missing feature in NLDS or OF.
 * Related Component: utrecht-form-field-select
 * Upstream Issue: TODO - create an issue
 * Safe to remove when: OF or NLDS includes tokens or a fix for this component.
 * Last verified: 2025-11-20 (OF 3.3.4)
 */
[ref=component] > .utrecht-form-field.utrecht-form-field--select .selection .choices__item {
  background-color: var(--basis-form-control-accent-color);
  border-radius: var(--basis-form-control-border-radius);
  line-height: var(--basis-text-line-height-more-space);
}

.choices[data-type*=select-multiple] .choices__button, .choices[data-type*=text] .choices__button {
  border-left: 0;
  margin-left: 0;
}

/* 
 * CUSTOM OVERRIDE
 * Reason: Datepicker is not styled; missing feature in NLDS or OF.
 * Related Component: flatpickr-calender
 * Upstream Issue: TODO - create an issue
 * Safe to remove when: OF or NLDS has their own datepicker component or includes tokens for this component.
 * Last verified: 2025-12-09 (OF 3.3.4)
 */
.flatpickr-calendar {
    border-radius: var(--basis-border-radius-md);
    // padding: var(--basis-space-block-xl);
    width: auto;
    /* -webkit-box-shadow: 1px 0 0 #e6e6e6, -1px 0 0 #e6e6e6, 0 1px 0 #e6e6e6, 0 -1px 0 #e6e6e6, 0 3px 13px rgba(0, 0, 0, .08);
    box-shadow: 1px 0 #e6e6e6, -1px 0 #e6e6e6, 0 1px #e6e6e6, 0 -1px #e6e6e6, 0 3px 13px #00000014; */
}

.flatpickr-calendar .flatpickr-months {
    position: relative;
    justify-content: center;
    align-items: center;
    padding: var(--basis-space-block-xl);
}
.flatpickr-calendar .flatpickr-current-month {
    position: relative;
    left: unset;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0;
    font-size: 100%;
}

.flatpickr-calendar .flatpickr-months .flatpickr-month {
    height: auto;
    justify-items: center;
}

.flatpickr-calendar .flatpickr-current-month .flatpickr-monthDropdown-months,
.flatpickr-current-month input.cur-year, .flatpickr-current-month input.cur-year {
    // padding-block-end: var(--basis-form-control-padding-block-end);
    // padding-block-start: var(--basis-form-control-padding-block-start);
    // padding-inline-end: var(--basis-form-control-padding-inline-end);
    // padding-inline-start: var(--basis-form-control-padding-inline-start);
    border: 1px solid var(--basis-color-default-border-default);
    border-radius: var(--basis-form-control-border-radius);
    margin: 0;
    color: var(--basis-color-default-color-document);
    width: 100%;    
    max-width: 100px;
    height: 48px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    text-overflow: ellipsis;
}

.flatpickr-months .flatpickr-prev-month, .flatpickr-months .flatpickr-next-month {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0;
}

.flatpickr-current-month .numInputWrapper {
    width: 100%;
}

// Weekdays
.flatpickr-weekday {
    /* font-size: 1rem; */
    text-transform: capitalize;
    color: var(--basis-color-default-color-default);
}

// Days
.flatpickr-innerContainer {
    padding: 0 var(--basis-space-block-sm);
}

.flatpickr-day {
    color: var(--basis-form-control-accent-color);
    font-weight: bold;
    text-decoration: underline;
}
.flatpickr-day.nextMonthDay, .flatpickr-day.prevMonthDay {
    color: var(--basis-color-disabled-color-default);
    text-decoration: none;
    font-weight: normal;
}
.flatpickr-day.selected {
    background: var(--basis-form-control-accent-color);
    border-color: var(--basis-form-control-accent-color);
}
.flatpickr-day.selected:hover {
    background: var(--basis-form-control-hover-accent-color);
    border-color: var(--basis-form-control-accent-color);
}

// Time
.flatpickr-calendar.hasTime .flatpickr-time {
    height: auto;
    max-height: unset;
    border-top: none;
    padding: var(--basis-space-block-xl);
    gap: 10px;
    justify-content: space-between;
}

.flatpickr-calendar.hasTime .flatpickr-time::after {
    content: unset;
}

.flatpickr-time input.flatpickr-hour,
.flatpickr-time input.flatpickr-minute {
    padding-block-end: var(--basis-form-control-padding-block-end);
    padding-block-start: var(--basis-form-control-padding-block-start);
    padding-inline-end: var(--basis-form-control-padding-inline-end);
    padding-inline-start: var(--basis-form-control-padding-inline-start);
    border: 1px solid var(--basis-color-default-border-default);
    border-radius: var(--basis-form-control-border-radius);
    margin: 0;
    color: var(--basis-color-default-color-document);
    width: 100%;
    font-weight: normal;
}

/* 
 * CUSTOM OVERRIDE
 * Reason: Radio button checked icon size is too big; missing feature in NLDS or OF.
 * Related Component: utrecht-radio-button--html-input:checked
 * Upstream Issue: TODO - create an issue
 * Safe to remove when: OF or NLDS fixes the icon size.
 * Last verified: 2025-12-09 (OF 3.3.4)
 */
.utrecht-radio-button--html-input:checked {
    --utrecht-radio-button-icon-size: 4px;
}