@use '../dist/variables';

@use '../dist/mixin' as themeMixin;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.leiden-theme {
    @include themeMixin.leiden-theme;

    /*
    * CUSTOM OVERRIDE
    * Reason: Wrong icon on the save form link; missing feature in NLDS or OF.
    * Related Component: openforms-form-navigation-save-button
    * Upstream Issue: TODO - create an issue
    * Safe to remove when: OF changed the default icon
    * Last verified: 2025-11-19 (OF 3.3.4)
    */
    --of-form-navigation-save-button-fa-icon: "ïƒ‡";
}

/*
 * CUSTOM OVERRIDE
 * Reason: Center the Open Forms logo inside the header; missing feature in NLDS or OF.
 * Related Component: utrecht-page-header / logo alignment
 * Upstream Issue: TODO - create an issue
 * Safe to remove when: OF includes centered left-aligned logo slot OR alignment token.
 * Last verified: 2025-11-19 (OF 3.3.4)
 */
.utrecht-page-header.utrecht-page-header--openforms-with-logo 
.utrecht-page-header__openforms-return-url {
    position: relative;
    background-image: none;
    inline-size: auto !important;
}

.utrecht-page-header.utrecht-page-header--openforms-with-logo 
.utrecht-page-header__openforms-return-url::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: var(--utrecht-page-max-inline-size);
    height: var(--of-header-logo-height);
    background-image: var(--of-header-logo-url);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
    pointer-events: none;
}

/*
 * CUSTOM OVERRIDE
 * Reason: Center the Open Forms content containers; missing feature in NLDS or OF.
 * Related Component: utrecht-page / utrecht-page-content / openforms-app-body / alignment
 * Upstream Issue: TODO - create an issue
 * Safe to remove when: OF includes alignment tokens.
 * Last verified: 2025-11-19 (OF 3.3.4)
 */
body.utrecht-page {
    max-inline-size: 100%; // Needed to center page content. TODO: Use a (custom) design token if there are more items
    background-color: var(--basis-color-default-bg-default); // No token available for only this class. The default sets backgrounds for too many elements.
    margin-block-start: 0; // Fixes Weird top margin above the header from the browsers styling rules. TODO: Use a (custom) design token if there are more items
    margin-block-end: 0; // Fixes Weird top margin above the header from the browsers styling rules TODO: Use a (custom) design token if there are more items
}

.utrecht-page__content {
    background-color: var(--basis-color-default-bg-default); // No token available for only this class. The default sets backgrounds for too many elements.
    margin: 0 auto; // Needed to center page content. TODO: Use a (custom) design token if there are more items
}

.openforms-app__body {
    background: var(--basis-color-default-inverse-color-document); // Sets background color of the app to white.
}

/*
 * CUSTOM OVERRIDE
 * Reason: Interactive elements should have a border radius in our design; missing feature in NLDS or OF.
 * Related Component: file-upload-drop-zone
 * Upstream Issue: TODO - create an issue
 * Safe to remove when: OF includes border-radius tokens for the drag zone.
 * Last verified: 2025-11-19 (OF 3.3.4)
 */
.utrecht-form-field.utrecht-form-field--file .fileSelector {
    border-radius: var(--basis-form-control-border-radius); // Interactive elements should have a border radius. No token available to set border radius.
}

/*
 * CUSTOM OVERRIDE
 * Reason: The buttons submit variation doesn't set a color for the icon; missing feature in NLDS or OF.
 * Related Component: utrecht-button-submit
 * Upstream Issue: TODO - create an issue
 * Safe to remove when: OF or NLDS includes a color for the icon.
 * Last verified: 2025-11-19 (OF 3.3.4)
 */
button.utrecht-button--primary-action.utrecht-button--submit .utrecht-icon {
    color: currentColor; 
}

/*
 * CUSTOM OVERRIDE
 * Reason: No token available to style the footer; missing feature in NLDS or OF.
 * Related Component: utrecht-link-list
 * Upstream Issue: TODO - create an issue
 * Safe to remove when: OF or NLDS include tokens for the footer.
 * Last verified: 2025-11-19 (OF 3.3.4)
 */
.utrecht-page-footer ul.utrecht-link-list {
    padding-inline-start: 0;
    flex-direction: row;
    column-gap: var(--basis-space-column-3xl);
}

/*
 * CUSTOM OVERRIDE
 * Reason: No option to set font-family for the WYSIWYG content; missing feature in NLDS or OF.
 * Related Component: openforms-formio-content
 * Upstream Issue: TODO - create an issue
 * Safe to remove when: OF or NLDS includes a token for the font-family on the WYSIWYG content component.
 * Last verified: 2025-11-19 (OF 3.3.4)
 */
.openforms-formio-content {
    font-family: var(--basis-text-font-family-default);
}

/*
 * CUSTOM OVERRIDE
 * Reason: No option to set font-family, font-size, line-height and font-weight for the WYSIWYG heading 2; missing feature in NLDS or OF.
 * Related Component: openforms-formio-heading-2
 * Upstream Issue: TODO - create an issue
 * Safe to remove when: OF or NLDS includes a token for the font-family, font-size, line-height and font-weight on the WYSIWYG heading 2 component.
 * Last verified: 2025-11-19 (OF 3.3.4)
 */
.openforms-formio-content h2 {
    font-family: var(--basis-heading-font-family);
    font-size: var(--basis-text-font-size-2xl);
    line-height: var(--basis-text-line-height-2xl);
    font-weight: var(--basis-heading-font-weight);
}

/*
 * CUSTOM OVERRIDE
 * Reason: No option to set font-family, font-size, line-height and font-weight for the WYSIWYG heading 3; missing feature in NLDS or OF.
 * Related Component: openforms-formio-heading-3
 * Upstream Issue: TODO - create an issue
 * Safe to remove when: OF or NLDS includes a token for the font-family, font-size, line-height and font-weight on the WYSIWYG heading 3 component.
 * Last verified: 2025-11-19 (OF 3.3.4)
 */
.openforms-formio-content h3 {
    font-family: var(--basis-heading-font-family);
    font-size: var(--basis-text-font-size-xl);
    line-height: var(--basis-text-line-height-xl);
    font-weight: var(--basis-heading-font-weight);
}

/*
 * CUSTOM OVERRIDE
 * Reason: No option to set font-family, font-size, line-height and font-weight for the WYSIWYG heading 4; missing feature in NLDS or OF.
 * Related Component: openforms-formio-heading-4
 * Upstream Issue: TODO - create an issue
 * Safe to remove when: OF or NLDS includes tokens for the font-family, font-size, line-height and font-weight on the WYSIWYG heading 4 component.
 * Last verified: 2025-11-19 (OF 3.3.4)
 */
.openforms-formio-content h4 {
    font-family: var(--basis-heading-font-family);
    font-size: var(--basis-text-font-size-lg);
    line-height: var(--basis-text-line-height-lg);
    font-weight: var(--basis-heading-font-weight);
}

/*
 * CUSTOM OVERRIDE
 * Reason: No option to set font-family and font-size for the WYSIWYG paragraph; missing feature in NLDS or OF.
 * Related Component: openforms-formio-paragraph
 * Upstream Issue: TODO - create an issue
 * Safe to remove when: OF or NLDS includes a token for the font-family and font-size on the WYSIWYG paragraph component.
 * Last verified: 2025-11-19 (OF 3.3.4)
 */
.openforms-formio-content p {
    font-family: var(--basis-text-font-family-default);
    font-size: var(--basis-text-font-size-md);
}

/*
 * CUSTOM OVERRIDE
 * Reason: No option to set color for the WYSIWYG link hovers; missing feature in NLDS or OF.
 * Related Component: openforms-formio-link
 * Upstream Issue: TODO - create an issue
 * Safe to remove when: OF or NLDS includes a token for the hovers on the WYSIWYG link component.
 * Last verified: 2025-11-19 (OF 3.3.4)
 */
.openforms-formio-content a {
    color: var(--nl-link-color);
    text-decoration: var(--nl-link-text-decoration-line);
}
.openforms-formio-content a:hover {
    color: var(--nl-link-hover-color);
}

/*
 * CUSTOM OVERRIDE
 * Reason: No option to set font-size for the WYSIWYG text tiny component; missing feature in NLDS or OF.
 * Related Component: openforms-formio-text-tiny
 * Upstream Issue: TODO - create an issue
 * Safe to remove when: OF or NLDS includes a token for the font-size on the WYSIWYG text tiny component.
 * Last verified: 2025-11-19 (OF 3.3.4)
 */
.openforms-formio-content span.text-tiny {
    font-size: calc(var(--basis-text-font-size-sm) - 0.125rem);
}

/*
 * CUSTOM OVERRIDE
 * Reason: No option to set font-size for the WYSIWYG text small component; missing feature in NLDS or OF.
 * Related Component: openforms-formio-text-small
 * Upstream Issue: TODO - create an issue
 * Safe to remove when: OF or NLDS includes a token for the font-size on the WYSIWYG text small component.
 * Last verified: 2025-11-19 (OF 3.3.4)
 */
.openforms-formio-content span.text-small {
    font-size: var(--basis-text-font-size-sm);
}

/*
 * CUSTOM OVERRIDE
 * Reason: No option to set font-size for the WYSIWYG text big component; missing feature in NLDS or OF.
 * Related Component: openforms-formio-text-big
 * Upstream Issue: TODO - create an issue
 * Safe to remove when: OF or NLDS includes a token for the font-size on the WYSIWYG text big component.
 * Last verified: 2025-11-19 (OF 3.3.4)
 */
.openforms-formio-content span.text-big {
    font-size: var(--basis-text-font-size-lg);
}

/*
 * CUSTOM OVERRIDE
 * Reason: No option to set font-size for the WYSIWYG text huge component; missing feature in NLDS or OF.
 * Related Component: openforms-formio-text-huge
 * Upstream Issue: TODO - create an issue
 * Safe to remove when: OF or NLDS includes a token for the font-size on the WYSIWYG text huge component.
 * Last verified: 2025-11-19 (OF 3.3.4)
 */
.openforms-formio-content span.text-huge {
    font-size: var(--basis-text-font-size-xl);
}

/*
 * CUSTOM OVERRIDE
 * Reason: No option to set font-family for the WYSIWYG (un)ordered lists; missing feature in NLDS or OF.
 * Related Component: openforms-formio-(un)ordered-lists
 * Upstream Issue: TODO - create an issue
 * Safe to remove when: OF or NLDS includes a token for the font-family on the WYSIWYG (un)ordered lists.
 * Last verified: 2025-11-19 (OF 3.3.4)
 */
.openforms-formio-content ul,
.openforms-formio-content ol {
    font-family: var(--basis-text-font-family-default);
}

/*
 * CUSTOM OVERRIDE
 * Reason: No option to style the WYSIWYG figcaption; missing feature in NLDS or OF.
 * Related Component: openforms-formio-content-figcaption
 * Upstream Issue: TODO - create an issue
 * Safe to remove when: OF or NLDS includes tokens on the WYSIWYG figcaption.
 * Last verified: 2025-11-19 (OF 3.3.4)
 */
.openforms-formio-content figcaption {
    font-family: var(--basis-text-font-family-default);
}

/*
 * CUSTOM OVERRIDE
 * Reason: No option to style the WYSIWYG blockquote; missing feature in NLDS or OF.
 * Related Component: openforms-formio-content-blockquote
 * Upstream Issue: TODO - create an issue
 * Safe to remove when: OF or NLDS includes tokens on the WYSIWYG blockquote.
 * Last verified: 2025-11-19 (OF 3.3.4)
 */
// .openforms-formio-content blockquote {
//     // font-size: variables.$typography-font-size-lg;
//     // border-left: variables.$border-width-md variables.$border-style-solid variables.$color-red-40;
//     // padding-left: variables.$space-block-xl;
// }

// // Table
// // TODO: Table full width with no margin?
// // TODO: Table with header row
// // TODO: Table with header column
// // TODO: Table with both

/*
 * CUSTOM OVERRIDE
 * Reason: No option to style the WYSIWYG tables; missing feature in NLDS or OF.
 * Related Component: openforms-formio-content-table
 * Upstream Issue: TODO - create an issue
 * Safe to remove when: OF or NLDS includes tokens on the WYSIWYG table.
 * Last verified: 2025-11-19 (OF 3.3.4)
 */
.openforms-formio-content table {
    font-family: var(--basis-text-font-family-default);
}
.openforms-formio-content figure.table {
    margin: 0;
}
.openforms-formio-content table {
    font-size: var(--basis-text-font-size-sm);
    width: 100%;
}
.openforms-formio-content table th {
    background-color: var(--basis-color-default-color-document);
    color: var(--basis-color-action-1-inverse-color-default);
    font-weight: var(--basis-text-font-weight-bold);
    padding: var(--basis-space-block-lg);
    border: 0;
}
.openforms-formio-content table tr {
  border: 0;
}
.openforms-formio-content table tr:nth-of-type(odd) {
    background-color: var(--basis-color-default-bg-default);
}
.openforms-formio-content table tr:last-child {
  border: 0;
}
.openforms-formio-content table td {
    padding: var(--basis-space-block-lg);
}

// // Embedded video
// // BUG: Shows url and not the embedded video

/*
 * CUSTOM OVERRIDE
 * Reason: No option to style the WYSIWYG info; missing feature in NLDS or OF.
 * Related Component: openforms-formio-content-info
 * Upstream Issue: TODO - create an issue
 * Safe to remove when: OF or NLDS includes tokens on the WYSIWYG info.
 * Last verified: 2025-11-19 (OF 3.3.4)
 */
.openforms-formio-content.openforms-formio-content--info {
    border-inline-start-color: var(--basis-color-info-border-default);
}

/*
 * CUSTOM OVERRIDE
 * Reason: No option to style the WYSIWYG warning; missing feature in NLDS or OF.
 * Related Component: openforms-formio-content-info
 * Upstream Issue: TODO - create an issue
 * Safe to remove when: OF or NLDS includes tokens on the WYSIWYG warning.
 * Last verified: 2025-11-19 (OF 3.3.4)
 */
.openforms-formio-content.openforms-formio-content--warning {
    border-inline-start-color: var(--basis-color-warning-border-default);
}

/*
 * CUSTOM OVERRIDE
 * Reason: No option to style the WYSIWYG error; missing feature in NLDS or OF.
 * Related Component: openforms-formio-content-error
 * Upstream Issue: TODO - create an issue
 * Safe to remove when: OF or NLDS includes tokens on the WYSIWYG error.
 * Last verified: 2025-11-19 (OF 3.3.4)
 */
.openforms-formio-content.openforms-formio-content--error {
    border-inline-start-color: var(--basis-color-negative-border-default);
}

/*
 * CUSTOM OVERRIDE
 * Reason: No option to style the WYSIWYG success; missing feature in NLDS or OF.
 * Related Component: openforms-formio-content-success
 * Upstream Issue: TODO - create an issue
 * Safe to remove when: OF or NLDS includes tokens on the WYSIWYG success.
 * Last verified: 2025-11-19 (OF 3.3.4)
 */
.openforms-formio-content.openforms-formio-content--success {
    border-inline-start-color: var(--basis-color-positive-border-default);
}

/* END WYSIWYG Editor */

/*
 * CUSTOM OVERRIDE
 * Reason: No option to style the editgrid items; missing feature in NLDS or OF.
 * Related Component: openforms-editgrid-item / repeater
 * Upstream Issue: TODO - create an issue
 * Safe to remove when: OF or NLDS includes tokens on the editgrid items component.
 * Last verified: 2025-11-19 (OF 3.3.4)
 */
.openforms-editgrid .openforms-editgrid__item {
    background: var(--basis-color-default-bg-default);
}

.openforms-editgrid .openforms-editgrid__item:not(:last-of-type) {
    margin-block-end: var(--basis-space-column-xl);
}

/*
 * CUSTOM OVERRIDE
 * Reason: No option to style the fieldsets; missing feature in NLDS or OF.
 * Related Component: openforms-fieldset
 * Upstream Issue: TODO - create an issue
 * Safe to remove when: OF or NLDS includes tokens on the fieldsets.
 * Last verified: 2025-11-19 (OF 3.3.4)
 */
fieldset.openforms-fieldset:not(.openforms-fieldset--no-header) {
    padding-block-start: var(--basis-space-block-4xl);
    padding-block-end: var(--basis-space-block-xl);
    padding-inline-start: var(--basis-space-inline-xl);
    padding-inline-end: var(--basis-space-inline-xl);
    box-sizing: border-box;
    border: 0;
}
fieldset.openforms-fieldset:not(.openforms-fieldset--no-header):has(:not(.openforms-fieldset)) {
    background-color: var(--basis-color-default-bg-default);
}
fieldset.openforms-fieldset:not(.openforms-fieldset--no-header) > .openforms-form-field-container > div > fieldset.openforms-fieldset:not(.openforms-fieldset--no-header) {
    background-color: var(--basis-color-default-inverse-color-document);
}
fieldset.openforms-fieldset .openforms-form-field-container {
    gap: var(--basis-space-column-md);
}
.openforms-fieldset .openforms-fieldset__legend {
    position: relative;
    top: var(--basis-size-xs);
    margin-inline-start: 0;
    padding-block: 0;
    padding-inline: 0;
    font-family: var(--basis-heading-font-family);
    font-weight: var(--basis-heading-font-weight);
}

/*
 * CUSTOM OVERRIDE
 * Reason: Interactive elements should have a border-radius; missing feature in NLDS or OF.
 * Related Component: openforms-leaflet-map
 * Upstream Issue: TODO - create an issue
 * Safe to remove when: OF or NLDS includes a border-radius token on the leaflet map component.
 * Last verified: 2025-11-20 (OF 3.3.4)
 */
.openforms-leaflet-map {
    border-radius: var(--basis-form-control-border-radius);
}

/*
 * CUSTOM OVERRIDE
 * Reason: Headings should be bold; missing feature in NLDS or OF.
 * Related Component: openforms-progress-indicator openforms-caption
 * Upstream Issue: TODO - create an issue
 * Safe to remove when: OF or NLDS includes a font-weight token for the h2 inside the progress indicator component.
 * Last verified: 2025-11-20 (OF 3.3.4)
 */
.openforms-progress-indicator h2.openforms-caption {
    font-weight: var(--basis-heading-font-weight);
}

/*
 * CUSTOM OVERRIDE
 * Reason: Field blocks don't align with submit button; missing feature in NLDS or OF.
 * Related Component: openforms-multi-value-table
 * Upstream Issue: TODO - create an issue
 * Safe to remove when: OF or NLDS includes a border-spacing token for this component.
 * Last verified: 2025-11-20 (OF 3.3.4)
 */
.openforms-multi-value-table {
        border-spacing: 0;
}

/*
 * CUSTOM OVERRIDE
 * Reason: Align remove field icon with the end of the field; missing feature in NLDS or OF.
 * Related Component: openforms-multi-value-row-input
 * Upstream Issue: TODO - create an issue
 * Safe to remove when: OF or NLDS includes a token for this component.
 * Last verified: 2025-11-20 (OF 3.3.4)
 */
 .openforms-multi-value-row__input {
    max-width: 25rem;
}

/*
 * CUSTOM OVERRIDE
 * Reason: Field blocks don't align with submit button; missing feature in NLDS or OF.
 * Related Component: openforms-multi-value-table
 * Upstream Issue: TODO - create an issue
 * Safe to remove when: OF or NLDS includes a border-spacing token for this component.
 * Last verified: 2025-11-20 (OF 3.3.4)
 */
.openforms-progress-indicator .utrecht-link--placeholder {
    --_utrecht-link-state-color: var(--basis-form-control-disabled-color);
}

/*
 * CUSTOM OVERRIDE
 * Reason: Choices button in a selection field missing style; missing feature in NLDS or OF.
 * Related Component: utrecht-form-field-select
 * Upstream Issue: TODO - create an issue
 * Safe to remove when: OF or NLDS includes tokens or a fix for this component.
 * Last verified: 2025-11-20 (OF 3.3.4)
 */
[ref=component]>.utrecht-form-field.utrecht-form-field--select .selection .choices__item {
    background-color: var(--basis-form-control-accent-color);
    border-radius: var(--basis-form-control-border-radius);
    line-height: var(--basis-text-line-height-more-space);
}
.choices[data-type*=select-multiple] .choices__button, .choices[data-type*=text] .choices__button {
    border-left: 0;
    margin-left: 0;
}
