@font-face {
  font-family: "ArialforRotterdam";
  src: url("./font/ArialforRotterdam.eot?#iefix") format("embedded-opentype"),
    url("./font/ArialforRotterdam.woff") format("woff"), url("./font/ArialforRotterdam.ttf") format("truetype"),
    url("https://www.rotterdam.nl/rotterdam-files/resources/css/fonts/fonts/ArialforRotterdam.svg#ArialforRotterdam")
      format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "ArialforRotterdam";
  src: url("./font/ArialforRotterdam-Bold.eot?#iefix") format("embedded-opentype"),
    url("./font/ArialforRotterdam-Bold.woff") format("woff"),
    url("./font/ArialforRotterdam-Bold.ttf") format("truetype"),
    url("./font/ArialforRotterdam-Bold.svg#ArialforRotterdam-Bold") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Bolder";
  src: url("./font/Bolder-Bold.woff2") format("woff2"), url("./font/Bolder-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Bolder";
  src: url("./font/Bolder-Light.woff2") format("woff2"), url("./font/Bolder-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Bolder";
  src: url("./font/Bolder-RegularItalic.woff2") format("woff2"), url("./font/Bolder-RegularItalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Bolder";
  src: url("./font/Bolder-Regular.woff2") format("woff2"), url("./font/Bolder-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
