/*.utrecht-badge--govuk-grey {
  color: govuk-shade(govuk-colour("dark-grey", $legacy: "grey-1"), 30);
  background: govuk-tint(govuk-colour("dark-grey", $legacy: "grey-1"), 90);
}

.utrecht-badge--govuk-purple {
  color: govuk-shade(govuk-colour("purple"), 20);
  background: govuk-tint(govuk-colour("purple"), 80);
}

.utrecht-badge--govuk-turquoise {
  color: govuk-shade(govuk-colour("turquoise"), 60);
  background: govuk-tint(govuk-colour("turquoise"), 70);
}

.utrecht-badge--govuk-blue {
  color: govuk-shade(govuk-colour("blue"), 30);
  background: govuk-tint(govuk-colour("blue"), 80);
}

.utrecht-badge--govuk-yellow {
  color: govuk-shade(govuk-colour("yellow"), 65);
  background: govuk-tint(govuk-colour("yellow"), 75);
}

.utrecht-badge--govuk-orange {
  color: govuk-shade(govuk-colour("orange"), 55);
  background: govuk-tint(govuk-colour("orange"), 70);
}

.utrecht-badge--govuk-red {
  color: govuk-shade(govuk-colour("red"), 30);
  background: govuk-tint(govuk-colour("red"), 80);
}

.utrecht-badge--govuk-pink {
  color: govuk-shade(govuk-colour("pink"), 40);
  background: govuk-tint(govuk-colour("pink"), 80);
}

.utrecht-badge--govuk-green {
  color: govuk-shade(govuk-colour("green"), 20);
  background: govuk-tint(govuk-colour("green"), 80);
}
*/

.utrecht-badge--govuk-grey {
  color: var(--govuk-color-dark-grey-shade-30);
  background-color: var(--govuk-color-dark-grey-tint-90);
}

.utrecht-badge--govuk-purple {
  color: var(--govuk-color-purple-shade-20);
  background-color: var(--govuk-color-purple-tint-80);
}

.utrecht-badge--govuk-turquoise {
  color: var(--govuk-color-turqoise-shade-60);
  background-color: var(--govuk-color-turqoise-tint-70);
}

.utrecht-badge--govuk-blue {
  color: var(--govuk-color-blue-shade-30);
  background-color: var(--govuk-color-blue-tint-80);
}

.utrecht-badge--govuk-yellow {
  color: var(--govuk-color-yellow-shade-65);
  background-color: var(--govuk-color-yellow-tint-75);
}

.utrecht-badge--govuk-orange {
  color: var(--govuk-color-orange-shade-55);
  background-color: var(--govuk-color-orange-tint-70);
}

.utrecht-badge--govuk-red {
  color: var(--govuk-color-red-shade-30);
  background-color: var(--govuk-color-red-tint-80);
}

.utrecht-badge--govuk-pink {
  color: var(--govuk-color-pink-shade-40);
  background-color: var(--govuk-color-pink-tint-80);
}

.utrecht-badge--govuk-green {
  color: var(--govuk-color-green-shade-20);
  background-color: var(--govuk-color-green-tint-80);
}
