.utrecht-table__caption--xl {
  --utrecht-table-caption-font-size: var(--utrecht-heading-1-font-size);
  --utrecht-table-caption-font-weight: var(--utrecht-heading-1-font-weight);
  --utrecht-table-caption-margin-block-end: var(--govuk-spacing-scale-3);
}

.utrecht-table__caption--l {
  --utrecht-table-caption-font-size: var(--utrecht-heading-2-font-size);
  --utrecht-table-caption-font-weight: var(--utrecht-heading-2-font-weight);
  --utrecht-table-caption-margin-block-end: var(--govuk-spacing-scale-3);
}

.utrecht-table__caption--m {
  --utrecht-table-caption-font-size: var(--utrecht-heading-3-font-size);
  --utrecht-table-caption-font-weight: var(--utrecht-heading-3-font-weight);
  --utrecht-table-caption-margin-block-end: var(--govuk-spacing-scale-3);
}

.utrecht-table__caption--s {
  --utrecht-table-caption-font-size: var(--utrecht-heading-4-font-size);
  --utrecht-table-caption-font-weight: var(--utrecht-heading-4-font-weight);
}
