.utrecht-label--govuk-xl {
  --utrecht-label-font-size: var(--utrecht-heading-1-font-size);
  --utrecht-label-font-weight: var(--utrecht-heading-1-font-weight);
  --utrecht-label-line-height: var(--utrecht-heading-1-line-height);
}

.utrecht-label--govuk-l {
  --utrecht-label-font-size: var(--utrecht-heading-2-font-size);
  --utrecht-label-font-weight: var(--utrecht-heading-2-font-weight);
  --utrecht-label-line-height: var(--utrecht-heading-2-line-height);
}

.utrecht-label--govuk-m {
  --utrecht-label-font-size: var(--utrecht-heading-3-font-size);
  --utrecht-label-font-weight: var(--utrecht-heading-3-font-weight);
  --utrecht-label-line-height: var(--utrecht-heading-3-line-height);
}

.utrecht-label--govuk-s {
  --utrecht-label-font-size: var(--utrecht-heading-4-font-size);
  --utrecht-label-font-weight: var(--utrecht-heading-4-font-weight);
  --utrecht-label-line-height: var(--utrecht-heading-4-line-height);
}
