.utrecht-badge-data.subtle {
  --utrecht-icon-size: 1em;
  --utrecht-icon-inset-block-start: 0.15em;
  --utrecht-badge-background-color: transparent;
  --utrecht-badge-color: currentcolor;
  --utrecht-badge-border-color: currentcolor;
  --utrecht-badge-border-width: 1px;
  --utrecht-badge-border-style: solid;
  --utrecht-badge-font-weight: normal;

  white-space: nowrap;
  border-color: currentcolor;
  border-width: 1px;
  border-style: solid;
}
