.kernteam-dropzone {
  border-width: 2px;
  border-style: dashed;
  border-color: silver;
  border-radius: 1em;
  min-block-size: 44px;
  min-inline-size: 44px;
}

.kernteam-dropzone--subtle {
  border-color: transparent;
}

.kernteam-dropzone--drop-effect {
  border-color: rebeccapurple;
  background-color: papayawhip;
}

.kernteam-dropzone--drop-effect-copy {
  cursor: copy;
}
