/* Place any @font-face definitions here */

@font-face {
  font-family: "greycliff-cf";
  src: url("../src/font/GreycliffCF.woff2") format("woff2");
}

@font-face {
  font-family: "Oceanwide";
  src: url("../src/font/Oceanwide.woff2") format("woff2");
}
