:root {
  --a61l0u0: Helvetica, arial, sans-serif;
  --a61l0u1: Source Code Pro, Firacode, Hasklig, Menlo, monospace;
  --a61l0u2: normal 10px Helvetica, arial, sans-serif;
  --a61l0u3: normal 12px Helvetica, arial, sans-serif;
  --a61l0u4: normal 14px Helvetica, arial, sans-serif;
  --a61l0u5: normal 16px/1.3em Helvetica, arial, sans-serif;
  --a61l0u6: 100;
  --a61l0u7: 700;
  --a61l0u8: 4px;
  --a61l0u9: 2px;
  --a61l0ua: 4px;
  --a61l0ub: 6px;
  --a61l0uc: 100%;
  --a61l0ud: 70px;
  --a61l0ue: 44px;
  --a61l0uf: opacity 300ms ease, transform 300ms ease;
  --a61l0ug: opacity 200ms ease, transform 200ms ease;
  --a61l0uh: opacity 100ms ease, transform 100ms ease;
  --a61l0ui: 0;
  --a61l0uj: 2px;
  --a61l0uk: 4px;
  --a61l0ul: 6px;
  --a61l0um: 12px;
  --a61l0un: 16px;
  --a61l0uo: 20px;
  --a61l0up: 40px;
}
:root {
  --a61l0uq: #000;
  --a61l0ur: #040080;
  --a61l0us: #005ad2;
  --a61l0ut: #00439c;
  --a61l0uu: #00439c;
  --a61l0uv: #0088ff;
  --a61l0uw: #75438a;
  --a61l0ux: #a7a7a7;
  --a61l0uy: #515151;
  --a61l0uz: #fff;
  --a61l0u10: #a7a7a7;
  --a61l0u11: #cd193d;
  --a61l0u12: #005ad2;
  --a61l0u13: #1da584;
  --a61l0u14: rgba(0, 0, 0, .05);
  --a61l0u15: #005ad2;
  --a61l0u16: #c5f5e9;
  --a61l0u17: #fee1e9;
  --a61l0u18: #eeeeee;
  --a61l0u19: #fff;
  --a61l0u1a: #f4f4f4;
  --a61l0u1b: #e5f3ff;
  --a61l0u1c: #eeeeee;
  --a61l0u1d: 0 2px 8px rgba(18, 21, 26, 0.3);
  --a61l0u1e: 0 0 0 5px #e5f3ff;
}
:root[data-playroom-dark] {
  --a61l0uq: #f6f8fa;
  --a61l0ur: #c8e1f7;
  --a61l0us: #68aeea;
  --a61l0ut: #97c8f1;
  --a61l0uu: #97c8f1;
  --a61l0uv: #3e8fe0;
  --a61l0uw: #aa83f2;
  --a61l0ux: #3d4b63;
  --a61l0uy: #f6f8fa;
  --a61l0uz: #000;
  --a61l0u10: #828ea4;
  --a61l0u11: #fa6b6c;
  --a61l0u12: #3e8fe0;
  --a61l0u13: #28b888;
  --a61l0u14: rgba(0, 0, 0, .15);
  --a61l0u15: #3e8fe0;
  --a61l0u16: #195546;
  --a61l0u17: #4c1a20;
  --a61l0u18: #1c2230;
  --a61l0u19: #0f131b;
  --a61l0u1a: #0a0c11;
  --a61l0u1b: rgba(41,111,192,0.15);
  --a61l0u1c: #1c2230;
  --a61l0u1d: 0 0 10px -2px #2d3648;
  --a61l0u1e: 0 0 0 5px rgba(104,174,234,0.4);
}
.a61l0u1f {
  position: absolute;
}
.a61l0u1g {
  position: relative;
}
.a61l0u1h {
  position: fixed;
}
.a61l0u1i {
  top: 0;
}
.a61l0u1j {
  bottom: 0;
}
.a61l0u1k {
  left: 0;
}
.a61l0u1l {
  right: 0;
}
.a61l0u1m {
  display: none;
}
.a61l0u1n {
  display: flex;
}
.a61l0u1o {
  display: block;
}
.a61l0u1p {
  display: inline;
}
.a61l0u1q {
  flex-direction: row;
}
.a61l0u1r {
  flex-direction: column;
}
.a61l0u1s {
  flex-direction: row-reverse;
}
.a61l0u1t {
  flex-wrap: wrap;
}
.a61l0u1u {
  justify-content: stretch;
}
.a61l0u1v {
  justify-content: flex-start;
}
.a61l0u1w {
  justify-content: center;
}
.a61l0u1x {
  justify-content: flex-end;
}
.a61l0u1y {
  justify-content: space-around;
}
.a61l0u1z {
  justify-content: space-between;
}
.a61l0u20 {
  align-items: stretch;
}
.a61l0u21 {
  align-items: flex-start;
}
.a61l0u22 {
  align-items: center;
}
.a61l0u23 {
  align-items: flex-end;
}
.a61l0u24 {
  padding-top: var(--a61l0ui);
}
.a61l0u25 {
  padding-top: var(--a61l0uj);
}
.a61l0u26 {
  padding-top: var(--a61l0uk);
}
.a61l0u27 {
  padding-top: var(--a61l0ul);
}
.a61l0u28 {
  padding-top: var(--a61l0um);
}
.a61l0u29 {
  padding-top: var(--a61l0un);
}
.a61l0u2a {
  padding-top: var(--a61l0uo);
}
.a61l0u2b {
  padding-top: var(--a61l0up);
}
.a61l0u2c {
  padding-bottom: var(--a61l0ui);
}
.a61l0u2d {
  padding-bottom: var(--a61l0uj);
}
.a61l0u2e {
  padding-bottom: var(--a61l0uk);
}
.a61l0u2f {
  padding-bottom: var(--a61l0ul);
}
.a61l0u2g {
  padding-bottom: var(--a61l0um);
}
.a61l0u2h {
  padding-bottom: var(--a61l0un);
}
.a61l0u2i {
  padding-bottom: var(--a61l0uo);
}
.a61l0u2j {
  padding-bottom: var(--a61l0up);
}
.a61l0u2k {
  padding-left: var(--a61l0ui);
}
.a61l0u2l {
  padding-left: var(--a61l0uj);
}
.a61l0u2m {
  padding-left: var(--a61l0uk);
}
.a61l0u2n {
  padding-left: var(--a61l0ul);
}
.a61l0u2o {
  padding-left: var(--a61l0um);
}
.a61l0u2p {
  padding-left: var(--a61l0un);
}
.a61l0u2q {
  padding-left: var(--a61l0uo);
}
.a61l0u2r {
  padding-left: var(--a61l0up);
}
.a61l0u2s {
  padding-right: var(--a61l0ui);
}
.a61l0u2t {
  padding-right: var(--a61l0uj);
}
.a61l0u2u {
  padding-right: var(--a61l0uk);
}
.a61l0u2v {
  padding-right: var(--a61l0ul);
}
.a61l0u2w {
  padding-right: var(--a61l0um);
}
.a61l0u2x {
  padding-right: var(--a61l0un);
}
.a61l0u2y {
  padding-right: var(--a61l0uo);
}
.a61l0u2z {
  padding-right: var(--a61l0up);
}
.a61l0u30 {
  margin-top: var(--a61l0ui);
}
.a61l0u31 {
  margin-top: var(--a61l0uj);
}
.a61l0u32 {
  margin-top: var(--a61l0uk);
}
.a61l0u33 {
  margin-top: var(--a61l0ul);
}
.a61l0u34 {
  margin-top: var(--a61l0um);
}
.a61l0u35 {
  margin-top: var(--a61l0un);
}
.a61l0u36 {
  margin-top: var(--a61l0uo);
}
.a61l0u37 {
  margin-top: var(--a61l0up);
}
.a61l0u38 {
  margin-bottom: var(--a61l0ui);
}
.a61l0u39 {
  margin-bottom: var(--a61l0uj);
}
.a61l0u3a {
  margin-bottom: var(--a61l0uk);
}
.a61l0u3b {
  margin-bottom: var(--a61l0ul);
}
.a61l0u3c {
  margin-bottom: var(--a61l0um);
}
.a61l0u3d {
  margin-bottom: var(--a61l0un);
}
.a61l0u3e {
  margin-bottom: var(--a61l0uo);
}
.a61l0u3f {
  margin-bottom: var(--a61l0up);
}
.a61l0u3g {
  margin-left: var(--a61l0ui);
}
.a61l0u3h {
  margin-left: var(--a61l0uj);
}
.a61l0u3i {
  margin-left: var(--a61l0uk);
}
.a61l0u3j {
  margin-left: var(--a61l0ul);
}
.a61l0u3k {
  margin-left: var(--a61l0um);
}
.a61l0u3l {
  margin-left: var(--a61l0un);
}
.a61l0u3m {
  margin-left: var(--a61l0uo);
}
.a61l0u3n {
  margin-left: var(--a61l0up);
}
.a61l0u3o {
  margin-right: var(--a61l0ui);
}
.a61l0u3p {
  margin-right: var(--a61l0uj);
}
.a61l0u3q {
  margin-right: var(--a61l0uk);
}
.a61l0u3r {
  margin-right: var(--a61l0ul);
}
.a61l0u3s {
  margin-right: var(--a61l0um);
}
.a61l0u3t {
  margin-right: var(--a61l0un);
}
.a61l0u3u {
  margin-right: var(--a61l0uo);
}
.a61l0u3v {
  margin-right: var(--a61l0up);
}
.a61l0u3w {
  overflow: hidden;
}
.a61l0u3x {
  overflow: auto;
}
.a61l0u3y {
  box-shadow: var(--a61l0u1d);
}
.a61l0u3z {
  box-shadow: var(--a61l0u1e);
}
.a61l0u40 {
  border-radius: var(--a61l0u9);
}
.a61l0u41 {
  border-radius: var(--a61l0ua);
}
.a61l0u42 {
  border-radius: var(--a61l0ub);
}
.a61l0u43 {
  border-radius: var(--a61l0uc);
}
.a61l0u44 {
  transition: var(--a61l0uf);
}
.a61l0u45 {
  transition: var(--a61l0ug);
}
.a61l0u46 {
  transition: var(--a61l0uh);
}
.a61l0u47 {
  cursor: pointer;
}
.a61l0u48 {
  pointer-events: none;
}
.a61l0u49 {
  pointer-events: auto;
}
.a61l0u4a {
  user-select: none;
}
.a61l0u4b {
  appearance: none;
}
.a61l0u4c {
  opacity: 0;
}
.a61l0u4d {
  z-index: 0;
}
.a61l0u4e {
  z-index: 1;
}
.a61l0u4f {
  font: var(--a61l0u2);
}
.a61l0u4g {
  font: var(--a61l0u3);
}
.a61l0u4h {
  font: var(--a61l0u4);
}
.a61l0u4i {
  font: var(--a61l0u5);
}
.a61l0u4j {
  font-weight: var(--a61l0u6);
}
.a61l0u4k {
  font-weight: var(--a61l0u7);
}
.a61l0u4l {
  width: 100%;
}
.a61l0u4m {
  width: 100vw;
}
.a61l0u4n {
  height: 100%;
}
.a61l0u4o {
  height: 100vh;
}
.a61l0u4p {
  white-space: nowrap;
}
.a61l0u4q {
  box-sizing: border-box;
}
.a61l0u4r {
  text-align: center;
}
.a61l0u4s {
  text-align: left;
}
.a61l0u4t {
  text-align: right;
}
.a61l0u4u {
  border: 0;
}
@keyframes vcnibw4 {
  0%, 100% {
    opacity: 0;
  }
  20%, 80% {
    opacity: 1;
  }
  50%, 100% {
    stroke-dashoffset: 0;
  }
}
.vcnibw1 {
  z-index: 100;
  background: #1c2230;
  color: var(--a61l0uz);
}
.vcnibw3 > svg > path {
  stroke-dasharray: 1000px;
  stroke-dashoffset: 1000;
  animation-name: vcnibw4;
  animation-duration: 1300ms;
  animation-delay: 500ms;
  animation-direction: forwards;
  animation-timing-function: ease-in;
  animation-iteration-count: 2;
  animation-fill-mode: forwards;
}
.vcnibw5 {
  margin: 0 auto;
  width: 40vw;
  max-width: 200px;
}
._1g5lp691 {
  color: var(--a61l0uy);
}
._1g5lp692 {
  color: var(--a61l0u11);
}
._1g5lp699 {
  text-overflow: ellipsis;
}
