:root {
  --_14j3weg0: Helvetica, arial, sans-serif;
  --_14j3weg1: Source Code Pro, Firacode, Hasklig, Menlo, monospace;
  --_14j3weg2: normal 10px Helvetica, arial, sans-serif;
  --_14j3weg3: normal 12px Helvetica, arial, sans-serif;
  --_14j3weg4: normal 14px Helvetica, arial, sans-serif;
  --_14j3weg5: normal 16px/1.3em Helvetica, arial, sans-serif;
  --_14j3weg6: 100;
  --_14j3weg7: 700;
  --_14j3weg8: 4px;
  --_14j3weg9: 2px;
  --_14j3wega: 4px;
  --_14j3wegb: 6px;
  --_14j3wegc: 100%;
  --_14j3wegd: 70px;
  --_14j3wege: 44px;
  --_14j3wegf: opacity 300ms ease, transform 300ms ease;
  --_14j3wegg: opacity 200ms ease, transform 200ms ease;
  --_14j3wegh: opacity 100ms ease, transform 100ms ease;
  --_14j3wegi: 0;
  --_14j3wegj: 2px;
  --_14j3wegk: 4px;
  --_14j3wegl: 6px;
  --_14j3wegm: 12px;
  --_14j3wegn: 16px;
  --_14j3wego: 20px;
  --_14j3wegp: 40px;
}
:root {
  --_14j3wegq: #000;
  --_14j3wegr: #040080;
  --_14j3wegs: #005ad2;
  --_14j3wegt: #00439c;
  --_14j3wegu: #00439c;
  --_14j3wegv: #0088ff;
  --_14j3wegw: #75438a;
  --_14j3wegx: #a7a7a7;
  --_14j3wegy: #515151;
  --_14j3wegz: #fff;
  --_14j3weg10: #a7a7a7;
  --_14j3weg11: #cd193d;
  --_14j3weg12: #005ad2;
  --_14j3weg13: #1da584;
  --_14j3weg14: rgba(0, 0, 0, .05);
  --_14j3weg15: #005ad2;
  --_14j3weg16: #c5f5e9;
  --_14j3weg17: #fee1e9;
  --_14j3weg18: #eeeeee;
  --_14j3weg19: #fff;
  --_14j3weg1a: #f4f4f4;
  --_14j3weg1b: #e5f3ff;
  --_14j3weg1c: #eeeeee;
  --_14j3weg1d: 0 2px 8px rgba(18, 21, 26, 0.3);
  --_14j3weg1e: 0 0 0 5px #e5f3ff;
}
:root[data-playroom-dark] {
  --_14j3wegq: #f6f8fa;
  --_14j3wegr: #c8e1f7;
  --_14j3wegs: #68aeea;
  --_14j3wegt: #97c8f1;
  --_14j3wegu: #97c8f1;
  --_14j3wegv: #3e8fe0;
  --_14j3wegw: #aa83f2;
  --_14j3wegx: #3d4b63;
  --_14j3wegy: #f6f8fa;
  --_14j3wegz: #000;
  --_14j3weg10: #828ea4;
  --_14j3weg11: #fa6b6c;
  --_14j3weg12: #3e8fe0;
  --_14j3weg13: #28b888;
  --_14j3weg14: rgba(0, 0, 0, .15);
  --_14j3weg15: #3e8fe0;
  --_14j3weg16: #195546;
  --_14j3weg17: #4c1a20;
  --_14j3weg18: #1c2230;
  --_14j3weg19: #0f131b;
  --_14j3weg1a: #0a0c11;
  --_14j3weg1b: rgba(41,111,192,0.15);
  --_14j3weg1c: #1c2230;
  --_14j3weg1d: 0 0 10px -2px #2d3648;
  --_14j3weg1e: 0 0 0 5px rgba(104,174,234,0.4);
}
._14j3weg1f {
  position: absolute;
}
._14j3weg1g {
  position: relative;
}
._14j3weg1h {
  position: fixed;
}
._14j3weg1i {
  top: 0;
}
._14j3weg1j {
  bottom: 0;
}
._14j3weg1k {
  left: 0;
}
._14j3weg1l {
  right: 0;
}
._14j3weg1m {
  display: none;
}
._14j3weg1n {
  display: flex;
}
._14j3weg1o {
  display: block;
}
._14j3weg1p {
  display: inline;
}
._14j3weg1q {
  flex-direction: row;
}
._14j3weg1r {
  flex-direction: column;
}
._14j3weg1s {
  flex-direction: row-reverse;
}
._14j3weg1t {
  flex-wrap: wrap;
}
._14j3weg1u {
  justify-content: stretch;
}
._14j3weg1v {
  justify-content: flex-start;
}
._14j3weg1w {
  justify-content: center;
}
._14j3weg1x {
  justify-content: flex-end;
}
._14j3weg1y {
  justify-content: space-around;
}
._14j3weg1z {
  justify-content: space-between;
}
._14j3weg20 {
  align-items: stretch;
}
._14j3weg21 {
  align-items: flex-start;
}
._14j3weg22 {
  align-items: center;
}
._14j3weg23 {
  align-items: flex-end;
}
._14j3weg24 {
  padding-top: var(--_14j3wegi);
}
._14j3weg25 {
  padding-top: var(--_14j3wegj);
}
._14j3weg26 {
  padding-top: var(--_14j3wegk);
}
._14j3weg27 {
  padding-top: var(--_14j3wegl);
}
._14j3weg28 {
  padding-top: var(--_14j3wegm);
}
._14j3weg29 {
  padding-top: var(--_14j3wegn);
}
._14j3weg2a {
  padding-top: var(--_14j3wego);
}
._14j3weg2b {
  padding-top: var(--_14j3wegp);
}
._14j3weg2c {
  padding-bottom: var(--_14j3wegi);
}
._14j3weg2d {
  padding-bottom: var(--_14j3wegj);
}
._14j3weg2e {
  padding-bottom: var(--_14j3wegk);
}
._14j3weg2f {
  padding-bottom: var(--_14j3wegl);
}
._14j3weg2g {
  padding-bottom: var(--_14j3wegm);
}
._14j3weg2h {
  padding-bottom: var(--_14j3wegn);
}
._14j3weg2i {
  padding-bottom: var(--_14j3wego);
}
._14j3weg2j {
  padding-bottom: var(--_14j3wegp);
}
._14j3weg2k {
  padding-left: var(--_14j3wegi);
}
._14j3weg2l {
  padding-left: var(--_14j3wegj);
}
._14j3weg2m {
  padding-left: var(--_14j3wegk);
}
._14j3weg2n {
  padding-left: var(--_14j3wegl);
}
._14j3weg2o {
  padding-left: var(--_14j3wegm);
}
._14j3weg2p {
  padding-left: var(--_14j3wegn);
}
._14j3weg2q {
  padding-left: var(--_14j3wego);
}
._14j3weg2r {
  padding-left: var(--_14j3wegp);
}
._14j3weg2s {
  padding-right: var(--_14j3wegi);
}
._14j3weg2t {
  padding-right: var(--_14j3wegj);
}
._14j3weg2u {
  padding-right: var(--_14j3wegk);
}
._14j3weg2v {
  padding-right: var(--_14j3wegl);
}
._14j3weg2w {
  padding-right: var(--_14j3wegm);
}
._14j3weg2x {
  padding-right: var(--_14j3wegn);
}
._14j3weg2y {
  padding-right: var(--_14j3wego);
}
._14j3weg2z {
  padding-right: var(--_14j3wegp);
}
._14j3weg30 {
  margin-top: var(--_14j3wegi);
}
._14j3weg31 {
  margin-top: var(--_14j3wegj);
}
._14j3weg32 {
  margin-top: var(--_14j3wegk);
}
._14j3weg33 {
  margin-top: var(--_14j3wegl);
}
._14j3weg34 {
  margin-top: var(--_14j3wegm);
}
._14j3weg35 {
  margin-top: var(--_14j3wegn);
}
._14j3weg36 {
  margin-top: var(--_14j3wego);
}
._14j3weg37 {
  margin-top: var(--_14j3wegp);
}
._14j3weg38 {
  margin-bottom: var(--_14j3wegi);
}
._14j3weg39 {
  margin-bottom: var(--_14j3wegj);
}
._14j3weg3a {
  margin-bottom: var(--_14j3wegk);
}
._14j3weg3b {
  margin-bottom: var(--_14j3wegl);
}
._14j3weg3c {
  margin-bottom: var(--_14j3wegm);
}
._14j3weg3d {
  margin-bottom: var(--_14j3wegn);
}
._14j3weg3e {
  margin-bottom: var(--_14j3wego);
}
._14j3weg3f {
  margin-bottom: var(--_14j3wegp);
}
._14j3weg3g {
  margin-left: var(--_14j3wegi);
}
._14j3weg3h {
  margin-left: var(--_14j3wegj);
}
._14j3weg3i {
  margin-left: var(--_14j3wegk);
}
._14j3weg3j {
  margin-left: var(--_14j3wegl);
}
._14j3weg3k {
  margin-left: var(--_14j3wegm);
}
._14j3weg3l {
  margin-left: var(--_14j3wegn);
}
._14j3weg3m {
  margin-left: var(--_14j3wego);
}
._14j3weg3n {
  margin-left: var(--_14j3wegp);
}
._14j3weg3o {
  margin-right: var(--_14j3wegi);
}
._14j3weg3p {
  margin-right: var(--_14j3wegj);
}
._14j3weg3q {
  margin-right: var(--_14j3wegk);
}
._14j3weg3r {
  margin-right: var(--_14j3wegl);
}
._14j3weg3s {
  margin-right: var(--_14j3wegm);
}
._14j3weg3t {
  margin-right: var(--_14j3wegn);
}
._14j3weg3u {
  margin-right: var(--_14j3wego);
}
._14j3weg3v {
  margin-right: var(--_14j3wegp);
}
._14j3weg3w {
  overflow: hidden;
}
._14j3weg3x {
  overflow: auto;
}
._14j3weg3y {
  box-shadow: var(--_14j3weg1d);
}
._14j3weg3z {
  box-shadow: var(--_14j3weg1e);
}
._14j3weg40 {
  border-radius: var(--_14j3weg9);
}
._14j3weg41 {
  border-radius: var(--_14j3wega);
}
._14j3weg42 {
  border-radius: var(--_14j3wegb);
}
._14j3weg43 {
  border-radius: var(--_14j3wegc);
}
._14j3weg44 {
  transition: var(--_14j3wegf);
}
._14j3weg45 {
  transition: var(--_14j3wegg);
}
._14j3weg46 {
  transition: var(--_14j3wegh);
}
._14j3weg47 {
  cursor: pointer;
}
._14j3weg48 {
  pointer-events: none;
}
._14j3weg49 {
  pointer-events: auto;
}
._14j3weg4a {
  user-select: none;
}
._14j3weg4b {
  appearance: none;
}
._14j3weg4c {
  opacity: 0;
}
._14j3weg4d {
  z-index: 0;
}
._14j3weg4e {
  z-index: 1;
}
._14j3weg4f {
  font: var(--_14j3weg2);
}
._14j3weg4g {
  font: var(--_14j3weg3);
}
._14j3weg4h {
  font: var(--_14j3weg4);
}
._14j3weg4i {
  font: var(--_14j3weg5);
}
._14j3weg4j {
  font-weight: var(--_14j3weg6);
}
._14j3weg4k {
  font-weight: var(--_14j3weg7);
}
._14j3weg4l {
  width: 100%;
}
._14j3weg4m {
  width: 100vw;
}
._14j3weg4n {
  height: 100%;
}
._14j3weg4o {
  height: 100vh;
}
._14j3weg4p {
  white-space: nowrap;
}
._14j3weg4q {
  box-sizing: border-box;
}
._14j3weg4r {
  text-align: center;
}
._14j3weg4s {
  text-align: left;
}
._14j3weg4t {
  text-align: right;
}
._14j3weg4u {
  border: 0;
}
@keyframes nup3yo4 {
  0%, 100% {
    opacity: 0;
  }
  20%, 80% {
    opacity: 1;
  }
  50%, 100% {
    stroke-dashoffset: 0;
  }
}
.nup3yo1 {
  z-index: 100;
  background: #1c2230;
  color: var(--_14j3wegz);
}
.nup3yo3 > svg > path {
  stroke-dasharray: 1000px;
  stroke-dashoffset: 1000;
  animation-name: nup3yo4;
  animation-duration: 1300ms;
  animation-delay: 500ms;
  animation-direction: forwards;
  animation-timing-function: ease-in;
  animation-iteration-count: 2;
  animation-fill-mode: forwards;
}
.nup3yo5 {
  margin: 0 auto;
  width: 40vw;
  max-width: 200px;
}
.gx9px51 {
  color: var(--_14j3wegy);
}
.gx9px52 {
  color: var(--_14j3weg11);
}
.gx9px59 {
  text-overflow: ellipsis;
}
